
@{
                /**/

                /**/

                ViewBag.Title = "ورود به حساب کاربری";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-wrapper no_background">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="banner-wrapper has_background">
    <div class="banner-wrapper-inner">
        <h1 class="page-title" style="font-size: 20px;">  @ViewBag.Title</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="~/Home"><span>خانه</span></a></li>
                <li class="trail-item trail-end active">
                    <span>@ViewBag.Title</span>
                </li>
            </ul>
        </div>
    </div>
</div>



@if (!string.IsNullOrEmpty(ViewBag.LoginError))
{
    <br />
    <br />
    <br />
    <div class="container margin-top-50" dir="rtl">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-warning d-flex justify-content-center">
                    <span class="text-danger">@ViewBag.LoginError</span>
                </div>
            </div>
        </div>
    </div>
}
@Html.Action("LoginPartial", "Auth", new { area = "Customer" })


<style>
    .field-validation-error span {
        color: darkred;
    }
</style>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

