@model SpadStorePanel.Web.ViewModels.RegisterCustomerViewModel
@{
    ViewBag.Title = "ثبت نام";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<!-- breadcrumb area start -->
    <section class="breadcrumb-area breadcrumb-bg extra">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <!-- breadcrumb inner -->
                        <div class="left-content-area">
                            <!-- left content area -->
                            <h1 class="title">ثبت نام</h1>
                        </div><!-- //. left content area -->
                        <div class="right-content-area">
                            <ul>
                                <li><a href="index.html">خانه</a></li>
                                <li>ثبت نام</li>
                            </ul>
                        </div>
                    </div><!-- //. breadcrumb inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->*@

<div class="banner-wrapper no_background">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="banner-wrapper has_background">
    <div class="banner-wrapper-inner">
        <h1 class="page-title" style="font-size: 20px;">  @ViewBag.Title</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="~/Home"><span>خانه</span></a></li>
                <li class="trail-item trail-end active">
                    <span>@ViewBag.Title</span>
                </li>
            </ul>
        </div>
    </div>
</div>


@if (!string.IsNullOrEmpty(ViewBag.LoginError))
{
    <div class="container margin-top-50">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-warning">
                    <span class="text-danger">@ViewBag.LoginError</span>
                </div>
            </div>
        </div>
    </div>
}


@Html.Action("RegisterPartial", "Auth", new { area = "Customer" })

<style>
    .field-validation-error span {
        color: darkred;
    }
</style>
<script>
    $.validator.unobtrusive.parse("#form");
</script>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
