@model SpadStorePanel.Web.ViewModels.FooterViewModel

@{
    var servicesList = Model.CompanyServices.ShortDescription.Split('-').ToList();
}

<footer id="footer" class="footer style-04">
    @Html.Action("EmailSubscriptionSection", "Home")
    <div class="section-025">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 d-lg-none">
                    <div class="logo-footer">
                        <img src="~/Content/client/images/mainlogo.png"
                             class="az_single_image-img attachment-full" alt="img">
                    </div>
                    <div class="footer-desc">
                        @Html.Raw(Model.Address.ShortDescription)
                        <p>@Html.Raw(Model.Phone.ShortDescription)</p>
                    </div>
                    <div class="lynessa-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="@Model.Facebook.Link" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.Instagram.Link" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.Twitter.Link" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.Pinterest.Link" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="lynessa-listitem style-04">
                        <div class="listitem-inner">
                            <h4 class="title">@Html.Raw(Model.CompanyServices.Title)</h4>
                            <ul class="listitem-list">
                                @foreach (var service in servicesList)
                                {
                                    <li>
                                        <a href="#" target=" _blank">
                                            @service
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="logo-footer">
                        <img src="~/Content/client/images/mainlogo.png"
                             class="az_single_image-img attachment-full" alt="img">
                    </div>
                    <div class="footer-desc">
                        @Html.Raw(Model.Address.ShortDescription)
                        <p>@Html.Raw(Model.Phone.ShortDescription)</p>
                    </div>
                    <div class="lynessa-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="@Model.Facebook.Link" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.Instagram.Link" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.Twitter.Link" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.Pinterest.Link" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="lynessa-listitem style-04">
                        <div class="listitem-inner">
                            <h4 class="title">
                                اطلاعات تماس
                            </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="~/home" target="_self">
                                        صفحه اصلی
                                    </a>
                                </li>
                                <li>
                                    <a href="~/home/contactUs" target="_self">
                                        تماس با ما
                                    </a>
                                </li>
                                <li>
                                    <a href="~/shop" target="_self">
                                        محصولات
                                    </a>
                                </li>
                                <li>
                                    <a href="~/home/about" target="_self">
                                        درباره ما
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-016">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>@Html.Raw(Model.CopyRightShortDescrioption.ShortDescription)</p>
                    <p>@Html.Raw(Model.ImplementationShortDescription.ShortDescription)</p>
                </div>
                <div class="col-md-6">
                    <div class="payment">
                        <img src="~/Content/client/images/payment.png"
                             class="az_single_image-img attachment-full" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a href="~/home">
                <span class="icon">
                    <span class="pe-7s-home"></span>
                </span>
                خانه
            </a>
        </div>
        @*<div class="footer-device-mobile-item device-home device-wishlist">
            <a href="wishlist.html">
                <span class="icon">
                    <span class="pe-7s-like"></span>
                </span>
                علاقه مندی ها
            </a>
        </div>*@
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="#">
                <span class="icon">
                    <span class="pe-7s-shopbag"></span>
                    @*<span class="count-icon">
                        0
                    </span>*@
                </span>
                <span class="text">سبد خرید</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="~/home/account">
                <span class="icon">
                    <span class="pe-7s-user"></span>
                </span>
                حساب کاربری
            </a>
        </div>
    </div>
</div>


<!-- footer -->
