@model SpadStorePanel.Web.ViewModels.FooterViewModel

@{
    var servicesList = Model.CompanyServices.ShortDescription.Split('-').ToList();
}

<footer id="footer" class="footer style-04">
    <div class="section-001 section-009">
        <div class="container">
            <div class="lynessa-newsletter style-01">
                <div class="newsletter-inner">
                    <div class="newsletter-info">
                        <div class="newsletter-wrap">
                            <h3 class="title">خبرنامه<span></span></h3>
                            <h4 class="subtitle">30% تخفیف</h4>
                            <p class="desc">
                                توضیحات تخفیفات
                            </p>
                        </div>
                    </div>
                    <div class="newsletter-form-wrap">
                        <div class="newsletter-form-inner">
                            <input class="email email-newsletter" name="email" placeholder="ایمیل خود را وارد کنید..."
                                   type="email">
                            <a href="#" class="button btn-submit submit-newsletter">
                                <span class="text">ارسال</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-025">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 d-lg-none">
                    <div class="logo-footer">
                        <img src="~/Content/client/images/mainlogo.png"
                             class="az_single_image-img attachment-full" alt="img">
                    </div>
                    <div class="footer-desc">
                        @Html.Raw(Model.Address.ShortDescription)
                        <p>@Html.Raw(Model.Phone.ShortDescription)</p>
                    </div>
                    <div class="lynessa-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="@Model.Facebook.Link" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.Instagram.Link" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.Twitter.Link" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.Pinterest.Link" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="lynessa-listitem style-04">
                        <div class="listitem-inner">
                            <h4 class="title">@Html.Raw(Model.CompanyServices.Title)</h4>
                            <ul class="listitem-list">
                                @foreach (var service in servicesList)
                                {
                                    <li>
                                        <a href="#" target=" _blank">
                                            @service
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="logo-footer">
                        <img src="~/Content/client/images/mainlogo.png"
                             class="az_single_image-img attachment-full" alt="img">
                    </div>
                    <div class="footer-desc">
                        @Html.Raw(Model.Address.ShortDescription)
                        <p>@Html.Raw(Model.Phone.ShortDescription)</p>
                    </div>
                    <div class="lynessa-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="@Model.Facebook.Link" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.Instagram.Link" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.Twitter.Link" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.Pinterest.Link" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="lynessa-listitem style-04">
                        <div class="listitem-inner">
                            <h4 class="title">
                                اطلاعات تماس
                            </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="~/home" target="_self">
                                        صفحه اصلی
                                    </a>
                                </li>
                                <li>
                                    <a href="~/home/contactUs" target="_self">
                                        تماس با ما
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        خدمات
                                    </a>
                                </li>
                                <li>
                                    <a href="~/home/about" target="_self">
                                        درباره ما
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-016">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>@Html.Raw(Model.CopyRightShortDescrioption.ShortDescription)</p>
                    <p>@Html.Raw(Model.ImplementationShortDescription.ShortDescription)</p>
                </div>
                <div class="col-md-6">
                    <div class="payment">
                        <img src="~/Content/client/images/payment.png"
                             class="az_single_image-img attachment-full" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a href="~/home">
                <span class="icon">
                    <span class="pe-7s-home"></span>
                </span>
                خانه
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a href="wishlist.html">
                <span class="icon">
                    <span class="pe-7s-like"></span>
                </span>
                علاقه مندی ها
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="#">
                <span class="icon">
                    <span class="pe-7s-shopbag"></span>
                    <span class="count-icon">
                        0
                    </span>
                </span>
                <span class="text">سبد خرید</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="my-account.html">
                <span class="icon">
                    <span class="pe-7s-user"></span>
                </span>
                حساب کاربری
            </a>
        </div>
    </div>
</div>






@*@Html.Action("GallerySlider", "Home")
    <div class="container-fluid @(ViewBag.ContactUsPage == null ? "contact-footer": "")">
        <div class="row">
            @if (ViewBag.ContactUsPage == null)
            {
                <div class="col-md-6 pt-5">
                    <div class="section-header-left">
                        <h3 class="text-light-black header-title title">
                            <span class="text-dark">ارتباط با ما</span>
                        </h3>
                    </div>
                    @Html.Action("ContactUsForm", "Home")
                </div>
                <div class="col-md-6 mt-5 mb-3">
                    @Html.Raw(Model.Map.Description)
                </div>
            }
            else
            {
                <div class="col-md-12 mt-5 mb-3">
                    @Html.Raw(Model.Map.Description)
                </div>
            }
        </div>
    </div>*@


@*<footer class="footer">
    <div class="container">
        <div class="row footer-row">
            <div class="col-md-6 col-xs-12">
                <img src="~/Content/client/wp-content/themes/uniqo/img/footer-logo.png" class="footer-img" alt="">
                <div>
                    <p class="text-right">
                        @Model.ShortDescription.ShortDescription
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 ">
                <h2>لینک های مفید</h2>
                <ul class="footer-list">
                    <li><a href="~/home/index">خانه</a></li>
                    <li><a href="~/home/products">محصولات</a></li>
                    <li><a href="~/blog">بلاگ</a></li>
                    <li><a href="~/home/about">درباره ما</a></li>
                    <li><a href="~/home/contactUsForm">تماس با ما</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 ">
                <h2>اطلاعات تماس</h2>
                <p class="footer-contact-txt">@Model.Address.ShortDescription</p>
                <h4 class="footer-contact-title">پشیبانی</h4>
                <p class="footer-contact-txt">
                    @Model.SupportPhone.ShortDescription
                </p>
                <h4 class="footer-contact-title">ایمیل</h4>
                <p class="footer-contact-txt">
                    @Model.Email.ShortDescription
                </p>
            </div>
        </div>
        <p class="copy-right">   طراحی شده توسط <a href="https://www.spad.co/">اسپاد </a>© </p>

    </div>

</footer>*@



<!-- footer -->
