@model SpadStorePanel.Web.ViewModels.ArticleDetailsViewModel
@{
    //ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="banner-wrapper no_background">
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
<div class="main-container right-sidebar has-sidebar">
    <!-- POST LAYOUT -->
    <div class="container">
        <div class="row">
            <div class="main-content  main-contentblog col-xl-9 col-lg-8 col-md-12 col-sm-12">
                <article class="post-item post-single post-195 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-table category-life-style tag-light tag-life-style">
                    <div class="single-post-thumb">
                        <div class="post-thumb">
                            <img src="~/Files/ArticleImages/Image/@Model.MainImage"
                                 class="attachment-full size-full wp-post-image" alt="img">
                        </div>
                    </div>
                    <div class="single-post-info">
                        <h2 class="post-title">
                            <a href="#">
                                @Model.Title 
                            </a>
                        </h2>
                        <div class="post-meta">
                            <div class="date">
                                <a href="#"> @Model.PersianDate </a>
                            </div>
                            <div class="post-author">
                                نویسنده:<a href="#"> @Model.Author </a>
                            </div>
                        </div>
                    </div>
                    <div class="post-content">
                        <div id="output">
                            @Html.Raw(Model.Description)
                        </div>
                        <p>&nbsp;</p>
                        <div id="gallery-1" class="gallery galleryid-195 gallery-columns-2 gallery-size-full">
                            <figure class="gallery-item">
                                <div class="gallery-icon landscape">
                                    <a href="#">
                                        <img src="~/Files/ArticleImages/Image/@Model.LeftImage"
                                             class="attachment-full size-full" alt="img">
                                    </a>
                                </div>
                            </figure>
                            <figure class="gallery-item">
                                <div class="gallery-icon landscape">
                                    <a href="#">
                                        <img src="~/Files/ArticleImages/Image/@Model.RightImage"
                                             class="attachment-full size-full" alt="img">
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="tags">
                        @foreach (var tag in Model.Tags)
                        {
                            <a href="#" rel="tag"> @tag.Title </a>
                        }
                    </div>
                    @*<div class="post-footer">
                        <div class="lynessa-share-socials">
                            <h5 class="social-heading">اشتراک گذاری: </h5>
                            <a target="_blank" class="facebook" href="#"><i class="fa fa-facebook-f"></i></a>
                            <a target="_blank" class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                            <a target="_blank" class="googleplus" href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="categories">
                            <span>دسته بندی ها: </span>
                            <a href="#"> دسته 1 </a>,
                            <a href="#"> دسته 2</a>,
                            <a href="#"> دسته 3</a>
                        </div>
                    </div>*@
                </article>
                <div id="comments" class="comments-area">
                    <div id="comments">
                        <h2 class="lynessa-Reviews-title">نظرات</h2>
                        @foreach (var item in Model.ArticleComments.Where(c => c.ParentId == null))
                        {
                            <div class="review-box">
                                <div class="review-user">
                                    <div class="review-user-img">
                                        <img src="/Files/UserAvatars/user-avatar.png" style="width: 50px" class="rounded-circle" alt="">
                                        <div class="reviewer-name">
                                            <p class="text-light-black fw-600">
                                                @item.Name
                                            </p><a onclick="AnswerComment(@item.Id,'@item.Name')" style="cursor: pointer" class="text-light-black"><i class="fas fa-reply text-black"></i> پاسخ دادن  </a>
                                        </div>
                                    </div>
                                    <div class="review-date">
                                        <span class="text-light-white">@item.AddedDate</span>
                                    </div>
                                </div>
                                <p class="lynessa-noreviews">@item.Message</p>
                            </div>
                            foreach (var child in Model.ArticleComments.Where(c => c.ParentId == item.Id))
                            {
                                <div class="review-box comment-reply">
                                    <div class="review-user">
                                        <div class="review-user-img">
                                            <img src="/Files/UserAvatars/user-avatar.png" style="width: 50px" class="rounded-circle" alt="@child.Name">
                                            <div class="reviewer-name">
                                                <p class="text-light-black fw-600">
                                                    @child.Name
                                                </p>
                                            </div>
                                        </div>
                                        <div class="review-date">
                                            <span class="text-light-white">@child.AddedDate</span>
                                        </div>
                                    </div>
                                    <p class="text-light-black">@child.Message</p>
                                </div>
                            }
                        }
                    </div>
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title"> کامنت </h3>
                        @using (Html.BeginForm("PostComment", "Blog", FormMethod.Post, new { id = "commentform", @class = "comment-form" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.AntiForgeryToken()

                            <input type="hidden" id="ArticleId" name="ArticleId" value="@Model.Id">
                            <input type="hidden" id="ParentId" name="ParentId" value="">
                            <p class="comment-reply-content">
                                <input name="Name" id="name" class="input-form name form-control form-control-submit"
                                       placeholder="نام*" type="text">
                            </p>
                            <p class="comment-reply-content">
                                <input name="Email" id="email" class="input-form email"
                                       placeholder="ایمیل*" type="text">
                            </p>
                            <p class="comment-form-comment">
                                <textarea class="input-form" id="comment" name="Message"
                                          cols="45" rows="6" aria-required="true"
                                          placeholder="کامنت را وارد کنید ...."></textarea>
                            </p><input name="wpml_language_code" value="en" type="hidden">
                            <p class="form-submit">
                                <input name="submit" id="submit" class="submit"
                                       value=" ثبت " type="submit">
                            </p>
                        }
                    </div><!-- #respond -->
                </div><!-- #comments -->
            </div>
            <div class="sidebar lynessa_sidebar col-xl-3 col-lg-4 col-md-12 col-sm-12">
                <div id="widget-area" class="widget-area sidebar-blog">
                    <div id="search-3" class="widget widget_search">
                        <form role="search" method="get" class="search-form">
                            <input class="search-field" placeholder="جستجو..." value="" name="s" type="search">
                            <button type="submit" class="search-submit">
                                <span class="fa fa-search"
                                      aria-hidden="true"></span>
                            </button>
                            <input name="lang" value="en" type="hidden">
                        </form>
                    </div>
                    @Html.Action("ArticleCategoriesSection", "Blog")
                    @Html.Action("LatestArticlesSection", "Blog")
                    @Html.Action("SocialsSection", "Blog")
                    @Html.Action("InstaGalleriesSection", "Blog")
                    @Html.Action("TagsSection", "Blog")

                </div><!-- .widget-area -->
            </div>
        </div>
    </div>
</div>




<style>
    .my-error-class {
        color: #FF0000; /* red */
    }
</style>
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>
        $("#commentform").validate({
            errorClass: "my-error-class",
            rules: {
                Name: "required",
                Message: "required",
                Email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                Name: "نام خود را وارد کنید",
                Message: "پیام خود را وارد کنید",
                Email: {
                    required: "ایمیل خود را وارد کنید",
                    email: "ایمیل وارد شده معتبر نیست"
                },
            }
        });
    </script>
    <script>
        function AnswerComment(parentId, parentName) {
            $('#answerPerson').html("پاسخ دادن به   " + parentName + "<a class='btn btn-submit text-white' style='margin-right:10px;cursor:pointer' onclick='removePerson()'>حذف</a>");
            $('#ParentId').val(parentId);
        }
        function removePerson() {
            $('#answerPerson').html("نظر بدهید");
            $('#ParentId').val("");
        }
    </script>
}