@model SpadStorePanel.Web.ViewModels.ArticleDetailsViewModel
@{
    //ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div id="parent-page" class="parent-page">

    <div class="container rtl">


        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home/index">خانه</a></li>
                <li class="breadcrumb-item"><a href="/blog">بلاگ</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
            </ol>
        </nav>


        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="blog-details">
                    <figure class="blog-img">
                        <a href="blog-details.html">
                            <img src="/Files/ArticleImages/Image/@Model.Image" alt="@Model.Title" style="width:100%">
                        </a>
                    </figure>
                    <div class="blog-details-body">

                        <h1 class="blog-details-title">@Model.Title</h1>
                        <p class="blog-details-txt">
                            @Model.ShortDescription
                        </p>
                        <h1 class="blog-details-title">@Model.Title</h1>
                        <p class="blog-details-txt">
                            @Html.Raw(Model.Description)
                        </p>

                        <div class="row">
                            <div class="col-12">

                                <div class="comment-box">
                                    <div class="section-header-left">
                                        <h3 class="text-light-black header-title">نظرات</h3>
                                    </div>
                                    @foreach (var item in Model.ArticleComments.Where(c => c.ParentId == null))
                                    {
                                        <div class="review-box">
                                            <div class="review-user">
                                                <div class="review-user-img">
                                                    <img src="/Files/UserAvatars/user-avatar.png" style="width: 50px" class="rounded-circle" alt="@item.Name">
                                                    <div class="reviewer-name">
                                                        <p class="text-light-black fw-600">
                                                            @item.Name
                                                        </p><a onclick="AnswerComment(@item.Id,'@item.Name')" style="cursor: pointer" class="text-light-black"><i class="fas fa-reply text-black"></i> پاسخ دادن  </a>
                                                    </div>
                                                </div>
                                                <div class="review-date">
                                                    <span class="text-light-white">@item.AddedDate</span>
                                                </div>
                                            </div>
                                            <p class="text-light-black">@item.Message</p>
                                        </div>
                                        foreach (var child in Model.ArticleComments.Where(c => c.ParentId == item.Id))
                                        {
                                            <div class="review-box comment-reply">
                                                <div class="review-user">
                                                    <div class="review-user-img">
                                                        <img src="/Files/UserAvatars/user-avatar.png" style="width: 50px" class="rounded-circle" alt="@child.Name">
                                                        <div class="reviewer-name">
                                                            <p class="text-light-black fw-600">
                                                                @child.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="review-date">
                                                        <span class="text-light-white">@child.AddedDate</span>
                                                    </div>
                                                </div>
                                                <p class="text-light-black">@child.Message</p>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="comment-form">
                                    <div class="section-header-left">
                                        <h3 id="answerPerson" class="text-light-black header-title">نظر بدهید</h3>
                                    </div>
                                    @using (Html.BeginForm("PostComment", "Blog", FormMethod.Post, new { id = "commentform", @class = "comment-form" }))
                                    {
                                        <input type="hidden" id="ArticleId" name="ArticleId" value="@Model.Id">
                                        <input type="hidden" id="ParentId" name="ParentId" value="">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="text-light-black fw-600">نام و نام خانوادگی</label>
                                                    <input type="text" name="Name" id="Name" class="form-control form-control-submit"
                                                           placeholder="نام و نام خانوادگی">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="text-light-black fw-600">ایمیل</label>
                                                    <input type="email" name="Email" id="Email"
                                                           class="form-control form-control-submit"
                                                           placeholder="ایمیل">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="text-light-black fw-600">نظر شما</label>
                                                    <textarea class="form-control form-control-submit" name="Message" id="Message" rows="6"
                                                              placeholder="نظر شما"></textarea>
                                                </div>
                                                <button type="submit"
                                                        class="btn-second btn-submit full-width">
                                                    ارسال
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
            <div class="col-md-4 col-xs-12">
                <div class="blog-left">
                    @Html.Action("ArticleCategoriesSection", "Blog")
                    @Html.Action("LatestArticlesSection", "Blog")
                </div>
            </div>
        </div>


    </div>
</div>*@


    <div class="banner-wrapper no_background">
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
<div class="main-container right-sidebar has-sidebar">
    <!-- POST LAYOUT -->
    <div class="container">
        <div class="row">
            <div class="main-content  main-contentblog col-xl-9 col-lg-8 col-md-12 col-sm-12">
                <article class="post-item post-single post-195 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-table category-life-style tag-light tag-life-style">
                    <div class="single-post-thumb">
                        <div class="post-thumb">
                            <img src="~/Files/ArticleImages/Image/@Model.MainImage"
                                 class="attachment-full size-full wp-post-image" alt="img">
                        </div>
                    </div>
                    <div class="single-post-info">
                        <h2 class="post-title">
                            <a href="#">
                                @Model.Title 
                            </a>
                        </h2>
                        <div class="post-meta">
                            <div class="date">
                                <a href="#"> @Model.PersianDate </a>
                            </div>
                            <div class="post-author">
                                نویسنده:<a href="#"> @Model.Author </a>
                            </div>
                        </div>
                    </div>
                    <div class="post-content">
                        <div id="output">
                            @Html.Raw(Model.Description)
                        </div>
                        <p>&nbsp;</p>
                        <div id="gallery-1" class="gallery galleryid-195 gallery-columns-2 gallery-size-full">
                            <figure class="gallery-item">
                                <div class="gallery-icon landscape">
                                    <a href="#">
                                        <img src="~/Files/ArticleImages/Image/@Model.LeftImage"
                                             class="attachment-full size-full" alt="img">
                                    </a>
                                </div>
                            </figure>
                            <figure class="gallery-item">
                                <div class="gallery-icon landscape">
                                    <a href="#">
                                        <img src="~/Files/ArticleImages/Image/@Model.RightImage"
                                             class="attachment-full size-full" alt="img">
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="tags">
                        @foreach (var tag in Model.Tags)
                        {
                            <a href="#" rel="tag"> @tag.Title </a>
                        }
                    </div>
                    <div class="post-footer">
                        <div class="lynessa-share-socials">
                            <h5 class="social-heading">اشتراک گذاری: </h5>
                            <a target="_blank" class="facebook" href="#"><i class="fa fa-facebook-f"></i></a>
                            <a target="_blank" class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                            <a target="_blank" class="googleplus" href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="categories">
                            <span>دسته بندی ها: </span>
                            <a href="#"> دسته 1 </a>,
                            <a href="#"> دسته 2</a>,
                            <a href="#"> دسته 3</a>
                        </div>
                    </div>
                </article>
                <div id="comments" class="comments-area">
                    <div id="comments">
                        <h2 class="lynessa-Reviews-title">نظرات</h2>
                        @foreach (var item in Model.ArticleComments.Where(c => c.ParentId == null))
                        {
                            <div class="review-box">
                                <div class="review-user">
                                    <div class="review-user-img">
                                        <img src="/Files/UserAvatars/user-avatar.png" style="width: 50px" class="rounded-circle" alt="">
                                        <div class="reviewer-name">
                                            <p class="text-light-black fw-600">
                                                @item.Name
                                            </p><a onclick="AnswerComment(@item.Id,'@item.Name')" style="cursor: pointer" class="text-light-black"><i class="fas fa-reply text-black"></i> پاسخ دادن  </a>
                                        </div>
                                    </div>
                                    <div class="review-date">
                                        <span class="text-light-white">@item.AddedDate</span>
                                    </div>
                                </div>
                                <p class="lynessa-noreviews">@item.Message</p>
                            </div>
                            foreach (var child in Model.ArticleComments.Where(c => c.ParentId == item.Id))
                            {
                                <div class="review-box comment-reply">
                                    <div class="review-user">
                                        <div class="review-user-img">
                                            <img src="/Files/UserAvatars/user-avatar.png" style="width: 50px" class="rounded-circle" alt="@child.Name">
                                            <div class="reviewer-name">
                                                <p class="text-light-black fw-600">
                                                    @child.Name
                                                </p>
                                            </div>
                                        </div>
                                        <div class="review-date">
                                            <span class="text-light-white">@child.AddedDate</span>
                                        </div>
                                    </div>
                                    <p class="text-light-black">@child.Message</p>
                                </div>
                            }
                        }
                    </div>
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title"> کامنت </h3>
                        @using (Html.BeginForm("PostComment", "Blog", FormMethod.Post, new { id = "commentform", @class = "comment-form" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.AntiForgeryToken()

                            <input type="hidden" id="ArticleId" name="ArticleId" value="@Model.Id">
                            <input type="hidden" id="ParentId" name="ParentId" value="">
                            <p class="comment-reply-content">
                                <input name="Name" id="name" class="input-form name form-control form-control-submit"
                                       placeholder="نام*" type="text">
                            </p>
                            <p class="comment-reply-content">
                                <input name="Email" id="email" class="input-form email"
                                       placeholder="ایمیل*" type="text">
                            </p>
                            <p class="comment-form-comment">
                                <textarea class="input-form" id="comment" name="Message"
                                          cols="45" rows="6" aria-required="true"
                                          placeholder="کامنت را وارد کنید ...."></textarea>
                            </p><input name="wpml_language_code" value="en" type="hidden">
                            <p class="form-submit">
                                <input name="submit" id="submit" class="submit"
                                       value=" ثبت " type="submit">
                            </p>
                        }
                    </div><!-- #respond -->
                </div><!-- #comments -->
            </div>
            <div class="sidebar lynessa_sidebar col-xl-3 col-lg-4 col-md-12 col-sm-12">
                <div id="widget-area" class="widget-area sidebar-blog">
                    <div id="search-3" class="widget widget_search">
                        <form role="search" method="get" class="search-form">
                            <input class="search-field" placeholder="جستجو..." value="" name="s" type="search">
                            <button type="submit" class="search-submit">
                                <span class="fa fa-search"
                                      aria-hidden="true"></span>
                            </button>
                            <input name="lang" value="en" type="hidden">
                        </form>
                    </div>
                    @Html.Action("ArticleCategoriesSection", "Blog")
                    @Html.Action("LatestArticlesSection", "Blog")
                    @Html.Action("SocialsSection", "Blog")
                    @Html.Action("InstaGalleriesSection", "Blog")
                    @Html.Action("TagsSection", "Blog")


                    @*<div id="categories-3" class="widget widget_categories">
            <h2 class="widgettitle">
                دسته بندی ها<span class="arrow"></span>
            </h2>
            <ul>
                <li class="cat-item cat-item-51">
                    <a href="#"> دسته 1</a>
                </li>
                <li class="cat-item cat-item-49">
                    <a href="#">دسته 2</a>
                </li>
                <li class="cat-item cat-item-52">
                    <a href="#"> دسته 3</a>
                </li>
                <li class="cat-item cat-item-53">
                    <a href="#"> دسته 4</a>
                </li>
                <li class="cat-item cat-item-50">
                    <a href="#">
                        دسته 5
                    </a>
                </li>
            </ul>
        </div>
                    <div id="widget_lynessa_post-2" class="widget widget-lynessa-post">
                        <h2 class="widgettitle">
                            پست های اخیر
                            <span class="arrow"></span>
                        </h2>
                        <div class="lynessa-posts">
                            <article class="post-195 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-table category-life-style tag-light tag-life-style">
                                <div class="post-item-inner">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img src="~/Content/client/images/2.jpg"
                                                 class="img-responsive attachment-83x83 size-83x83" alt="img" width="83"
                                                 height="83">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <div class="block-title">
                                            <h2 class="post-title">
                                                <a href="#">عنوان پست</a>
                                            </h2>
                                        </div>
                                        <div class="date">آبان 19, 139</div>
                                    </div>
                                </div>
                            </article>
                            <article class="post-195 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-table category-life-style tag-light tag-life-style">
                                <div class="post-item-inner">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img src="~/Content/client/images/5.jpg"
                                                 class="img-responsive attachment-83x83 size-83x83" alt="img" width="83"
                                                 height="83">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <div class="block-title">
                                            <h2 class="post-title">
                                                <a href="#">عنوان پست</a>
                                            </h2>
                                        </div>
                                        <div class="date">آبان 19, 139</div>
                                    </div>
                                </div>
                            </article>
                            <article class="post-195 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-table category-life-style tag-light tag-life-style">
                                <div class="post-item-inner">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img src="~/Content/client/images/4.jpg"
                                                 class="img-responsive attachment-83x83 size-83x83" alt="img" width="83"
                                                 height="83">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <div class="block-title">
                                            <h2 class="post-title">
                                                <a href="#">عنوان پست</a>
                                            </h2>
                                        </div>
                                        <div class="date">آبان 19, 139</div>
                                    </div>
                                </div>
                            </article>
                            <article class="post-195 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-table category-life-style tag-light tag-life-style">
                                <div class="post-item-inner">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img src="~/Content/client/images/2.jpg"
                                                 class="img-responsive attachment-83x83 size-83x83" alt="img" width="83"
                                                 height="83">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <div class="block-title">
                                            <h2 class="post-title">
                                                <a href="#">عنوان پست</a>
                                            </h2>
                                        </div>
                                        <div class="date">آبان 19, 139</div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div id="widget_lynessa_socials-2" class="widget widget-lynessa-socials">
                        <h2 class="widgettitle"> شبکه های اجتماعی<span class="arrow"></span></h2>
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="#" target="_blank">
                                        <span class="fa fa-facebook"></span>
                                        Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <span class="fa fa-instagram"></span>
                                        Instagram
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <span class="fa fa-twitter"></span>
                                        Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <span class="fa fa-pinterest-p"></span>
                                        Pinterest
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="widget_lynessa_instagram-3" class="widget widget-lynessa-instagram">
                        <h2 class="widgettitle">
                            اینستاگرام<span class="arrow"></span>
                        </h2>
                        <div class="content-instagram">
                            <a target="_blank" href="#" class="item">
                                <img class="img-responsive" src="~/Content/client/images/insta1.jpg"
                                     alt="Not your ordinary multi service.">
                            </a>
                            <a target="_blank" href="#" class="item">
                                <img class="img-responsive" src="~/Content/client/images/insta2.jpg"
                                     alt="Not your ordinary multi service.">
                            </a>
                            <a target="_blank" href="#" class="item">
                                <img class="img-responsive" src="~/Content/client/images/insta3.jpg"
                                     alt="Not your ordinary multi service.">
                            </a>
                            <a target="_blank" href="#" class="item">
                                <img class="img-responsive" src="~/Content/client/images/insta4.jpg"
                                     alt="Not your ordinary multi service.">
                            </a>
                            <a target="_blank" href="#" class="item">
                                <img class="img-responsive" src="~/Content/client/images/insta5.jpg"
                                     alt="Not your ordinary multi service.">
                            </a>
                            <a target="_blank" href="#" class="item">
                                <img class="img-responsive" src="~/Content/client/images/insta6.jpg"
                                     alt="Not your ordinary multi service.">
                            </a>
                        </div>
                    </div>
                    <div id="tag_cloud-3" class="widget widget_tag_cloud">
                        <h2 class="widgettitle">
                            برچسب ها<span class="arrow"></span>
                        </h2>
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link tag-link-46 tag-link-position-1" aria-label="Just In (4 items)"> تگ 1</a>
                            <a href="#"
                               class="tag-cloud-link tag-link-43 tag-link-position-2"
                               aria-label="Fashion (5 items)">تگ 2</a>
                            <a href="#"
                               class="tag-cloud-link tag-link-47 tag-link-position-3"
                               aria-label="Dresses (4 items)">تگ 3</a>
                            <a href="#"
                               class="tag-cloud-link tag-link-48 tag-link-position-4"
                               aria-label="Collection (4 items)">تگ 4</a>
                            <a href="#"
                               class="tag-cloud-link tag-link-45 tag-link-position-5"
                               aria-label="Life Style (7 items)">تگ 5</a>
                        </div>
                    </div>*@
                </div><!-- .widget-area -->
            </div>
        </div>
    </div>
</div>




<style>
    .my-error-class {
        color: #FF0000; /* red */
    }
</style>
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>
        $("#commentform").validate({
            errorClass: "my-error-class",
            rules: {
                Name: "required",
                Message: "required",
                Email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                Name: "نام خود را وارد کنید",
                Message: "پیام خود را وارد کنید",
                Email: {
                    required: "ایمیل خود را وارد کنید",
                    email: "ایمیل وارد شده معتبر نیست"
                },
            }
        });
    </script>
    <script>
        function AnswerComment(parentId, parentName) {
            $('#answerPerson').html("پاسخ دادن به   " + parentName + "<a class='btn btn-submit text-white' style='margin-right:10px;cursor:pointer' onclick='removePerson()'>حذف</a>");
            $('#ParentId').val(parentId);
        }
        function removePerson() {
            $('#answerPerson').html("نظر بدهید");
            $('#ParentId').val("");
        }
    </script>
}