@model List<SpadStorePanel.Web.ViewModels.ArticleListViewModel>
@{
    ViewBag.Title = "بلاگ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<div id="parent-page" class="parent-page">

    <div class="container rtl">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">خانه</a></li>
                @if (ViewBag.BreadCrumb != null)
                {
                    <li class="breadcrumb-item" aria-current="page"><a href="/blog">@ViewBag.Title</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.BreadCrumb</li>
                }
                else
                {
                    <li class="breadcrumb-item active" aria-current="page"><a href="/blog">@ViewBag.Title</a></li>
                }

            </ol>
        </nav>

        <div class="row">
            <div class="col-md-8 col-xs-12">

                @foreach (var item in Model)
                {
                    <div class="blog-post">
                        <figure class="blog-img">
                            <a href="/Blog/Post/@item.Id">
                                <img src="/Files/ArticleImages/Thumb/@item.Image" alt="@item.Title" style="width:100%">
                            </a>
                        </figure>
                        <div class="blog-body">
                            <p class="blog-date">
                                <span>
                                    @item.PersianDate
                                </span>
                                |
                                <span>
                                    نظرات @item.CommentCounter
                                </span>
                            </p>
                            <h2 class="blog-title">
                                <a href="/Blog/Post/@item.Id">
                                    @item.Title
                                </a>
                            </h2>
                            <p class="margin-top-17">
                                @item.ShortDescription
                            </p>
                        </div>
                    </div>
                }


            </div>
            <div class="col-md-4 col-xs-12">
                <div class="blog-left">
                    @Html.Action("ArticleCategoriesSection", "Blog")
                    @Html.Action("LatestArticlesSection", "Blog")
                    @Html.Action("SocialsSection", "Blog")
                    @Html.Action("InstagramsSection", "Blog")
                    @Html.Action("TagsSection", "Blog")
                </div>
            </div>
        </div>


    </div>
</div>*@





<div class="banner-wrapper has_background">
    <img src="~/Content/client/images/23.jpg"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img" style="opacity: 0.3;">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">@ViewBag.Title</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="/home"><span>خانه</span></a></li>
                <li class="trail-item trail-end active">
                    <span>@ViewBag.Title</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container right-sidebar has-sidebar">
    <!-- POST LAYOUT -->
    <div class="container">
        <div class="row">
            <div class="main-content main-contentblog col-xl-9 col-lg-8 col-md-12 col-sm-12">
                <div class="blog-standard content-post">
                    @foreach (var post in Model)
                    {
                        <article class="post-item post-standard post-195 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-table category-life-style tag-light tag-life-style">
                            <div class="post-thumb">
                                <a href="/Blog/Posts/@post.Id">
                                    <img src="~/Files/ArticleImages/Image/@post.MainImage"
                                         class="img-responsive attachment-1170x768 size-1170x768" alt="@post.Title" width="1170"
                                         height="768">
                                </a>
                            </div>
                            <div class="post-info">
                                <h2 class="post-title"><a href="/Blog/Posts/@post.Id"> @post.Title </a></h2>
                                <div class="post-meta">
                                    <div class="date">
                                        <a href="#">
                                            @post.PersianDate
                                        </a>
                                    </div>
                                    <div class="post-author">
                                        نویسنده:<a href="#">
                                        @post.Author
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="post-content">
                                @post.ShortDescription
                            </div>
                            <a href="/Blog/Posts/@post.Id" class="readmore">
                                ادامه ..
                            </a>
                        </article>
                    }

                </div>
                <nav class="navigation pagination">
                    <div class="nav-links">
                        <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="#">2</a>
                        <a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                </nav>
            </div>
            <div class="sidebar lynessa_sidebar col-xl-3 col-lg-4 col-md-12 col-sm-12">
                <div id="widget-area" class="widget-area sidebar-blog">
                    <div id="search-3" class="widget widget_search">
                        <form role="search" method="get" class="search-form">
                            <input class="search-field" placeholder="جستجو.." value="" name="s" type="search">
                            <button type="submit" class="search-submit">
                                <span class="fa fa-search"
                                      aria-hidden="true"></span>
                            </button>
                            <input name="lang" value="en" type="hidden">
                        </form>
                    </div>
                    @Html.Action("ArticleCategoriesSection", "Blog")
                    @Html.Action("LatestArticlesSection", "Blog")
                    @Html.Action("SocialsSection", "Blog")
                    @Html.Action("InstaGalleriesSection", "Blog")
                    @Html.Action("TagsSection", "Blog")
                </div><!-- .widget-area -->
            </div>
        </div>
    </div>
</div>

