@model SpadStorePanel.Web.ViewModels.ProductDetailsViewModel
@{
    //ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div id="parent-page" class="parent-page">

    <div class="container rtl">


        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home/index">خانه</a></li>
                <li class="breadcrumb-item"><a href="/blog">بلاگ</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
            </ol>
        </nav>


        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="blog-details">
                    <figure class="blog-img">
                        <a href="blog-details.html">
                            <img src="/Files/ArticleImages/Image/@Model.Image" alt="@Model.Title" style="width:100%">
                        </a>
                    </figure>
                    <div class="blog-details-body">

                        <h1 class="blog-details-title">@Model.Title</h1>
                        <p class="blog-details-txt">
                            @Model.ShortDescription
                        </p>
                        <h1 class="blog-details-title">@Model.Title</h1>
                        <p class="blog-details-txt">
                            @Html.Raw(Model.Description)
                        </p>

                        <div class="row">
                            <div class="col-12">

                                <div class="comment-box">
                                    <div class="section-header-left">
                                        <h3 class="text-light-black header-title">نظرات</h3>
                                    </div>
                                    @foreach (var item in Model.ArticleComments.Where(c => c.ParentId == null))
                                    {
                                        <div class="review-box">
                                            <div class="review-user">
                                                <div class="review-user-img">
                                                    <img src="/Files/UserAvatars/user-avatar.png" style="width: 50px" class="rounded-circle" alt="@item.Name">
                                                    <div class="reviewer-name">
                                                        <p class="text-light-black fw-600">
                                                            @item.Name
                                                        </p><a onclick="AnswerComment(@item.Id,'@item.Name')" style="cursor: pointer" class="text-light-black"><i class="fas fa-reply text-black"></i> پاسخ دادن  </a>
                                                    </div>
                                                </div>
                                                <div class="review-date">
                                                    <span class="text-light-white">@item.AddedDate</span>
                                                </div>
                                            </div>
                                            <p class="text-light-black">@item.Message</p>
                                        </div>
                                        foreach (var child in Model.ArticleComments.Where(c => c.ParentId == item.Id))
                                        {
                                            <div class="review-box comment-reply">
                                                <div class="review-user">
                                                    <div class="review-user-img">
                                                        <img src="/Files/UserAvatars/user-avatar.png" style="width: 50px" class="rounded-circle" alt="@child.Name">
                                                        <div class="reviewer-name">
                                                            <p class="text-light-black fw-600">
                                                                @child.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="review-date">
                                                        <span class="text-light-white">@child.AddedDate</span>
                                                    </div>
                                                </div>
                                                <p class="text-light-black">@child.Message</p>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="comment-form">
                                    <div class="section-header-left">
                                        <h3 id="answerPerson" class="text-light-black header-title">نظر بدهید</h3>
                                    </div>
                                    @using (Html.BeginForm("PostComment", "Blog", FormMethod.Post, new { id = "commentform", @class = "comment-form" }))
                                    {
                                        <input type="hidden" id="ArticleId" name="ArticleId" value="@Model.Id">
                                        <input type="hidden" id="ParentId" name="ParentId" value="">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="text-light-black fw-600">نام و نام خانوادگی</label>
                                                    <input type="text" name="Name" id="Name" class="form-control form-control-submit"
                                                           placeholder="نام و نام خانوادگی">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="text-light-black fw-600">ایمیل</label>
                                                    <input type="email" name="Email" id="Email"
                                                           class="form-control form-control-submit"
                                                           placeholder="ایمیل">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="text-light-black fw-600">نظر شما</label>
                                                    <textarea class="form-control form-control-submit" name="Message" id="Message" rows="6"
                                                              placeholder="نظر شما"></textarea>
                                                </div>
                                                <button type="submit"
                                                        class="btn-second btn-submit full-width">
                                                    ارسال
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
            <div class="col-md-4 col-xs-12">
                <div class="blog-left">
                    @Html.Action("ArticleCategoriesSection", "Blog")
                    @Html.Action("LatestArticlesSection", "Blog")
                </div>
            </div>
        </div>


    </div>
</div>*@

    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="single-thumb-vertical main-container shop-page no-sidebar">
        <div class="container">
            <div class="row">
                <div class="main-content col-md-12">
                    <div class="lynessa-notices-wrapper"></div>
                    <div id="product-27"
                         class="post-27 product type-product status-publish has-post-thumbnail product_cat-table product_cat-new-arrivals product_cat-lamp product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-variable has-default-attributes">
                        <div class="main-contain-summary">
                            <div class="contain-left has-gallery">
                                @Html.Action("ProductGallerySection", "Shop", new { productId = "15" })
                                <div class="summary entry-summary">
                                    <div class="flash">
                                        <span class="onnew"><span class="text">جدید</span></span>
                                    </div>
                                    <h1 class="product_title entry-title">رویال دو پددار @Model.Title</h1>
                                    <p class="price">
                                        <span class="lynessa-Price-amount amount">
                                            <span class="lynessa-Price-currencySymbol">$</span>146.00
                                        </span> – <span class="lynessa-Price-amount amount">
                                            <span class="lynessa-Price-currencySymbol">$</span>185.00
                                        </span>
                                    </p>
                                    <p class="stock in-stock">
                                        موجودی <span> موجود </span>
                                    </p>
                                    <div class="lynessa-product-details__short-description">
                                        @Html.Raw(Model.Description)
                                        @*<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                                        <ul>
                                            <li>پارچه ژاکارد پنبه دوز شده</li>
                                            <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                                            <li>پارچه ژاکارد پنبه دوز شده</li>
                                        </ul>*@
                                    </div>
                                    <form class="variations_form cart">
                                        <table class="variations">
                                            <tbody>
                                                <tr>
                                                    <td class="label"><label>رنگ</label></td>
                                                    <td class="value">
                                                        <select title="box_style" data-attributetype="box_style"
                                                                data-id="pa_color"
                                                                class="attribute-select " name="attribute_pa_color"
                                                                data-attribute_name="attribute_pa_color"
                                                                data-show_option_none="yes">
                                                            <option data-type="" data-pa_color="" value="">
                                                                Choose an option
                                                            </option>
                                                            <option data-width="30" data-height="30" data-type="color"
                                                                    data-pa_color="#3155e2" value="blue"
                                                                    class="attached enabled">
                                                                آبی
                                                            </option>
                                                            <option data-width="30" data-height="30" data-type="color"
                                                                    data-pa_color="#ffe59e" value="pink"
                                                                    class="attached enabled">
                                                                صورتی
                                                            </option>
                                                            <option data-width="30" data-height="30" data-type="color"
                                                                    data-pa_color="#b6b8ba" value="red"
                                                                    class="attached enabled">
                                                                قرمز
                                                            </option>
                                                            <option data-width="30" data-height="30" data-type="color"
                                                                    data-pa_color="#e8e120" value="yellow"
                                                                    class="attached enabled">
                                                                زرد
                                                            </option>
                                                        </select>

                                                        <a class="reset_variations" href="#"
                                                           style="visibility: hidden;">Clear</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="single_variation_wrap">
                                            <div class="lynessa-variation single_variation"></div>
                                            <div class="lynessa-variation-add-to-cart variations_button ">
                                                <div class="quantity">
                                                    <span class="qty-label">Quantiy:</span>
                                                    <div class="control">
                                                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                                        <input type="text" data-step="1" min="0" max="" name="quantity[25]" value="0" title="Qty" class="input-qty input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
                                                        <a class="btn-number qtyplus quantity-plus" href="#">+</a>
                                                    </div>
                                                </div>
                                                <button type="submit"
                                                        class="single_add_to_cart_button button alt lynessa-variation-selection-needed">
                                                    سبد خرید
                                                </button>
                                                <input name="add-to-cart" value="27" type="hidden">
                                                <input name="product_id" value="27" type="hidden">
                                                <input name="variation_id" class="variation_id" value="0" type="hidden">
                                            </div>
                                        </div>
                                    </form>
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#" rel="nofollow"
                                               data-product-id="27" data-product-type="variable" class="add_to_wishlist">
                                                علاقه مندی ها
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <a href="#"
                                       class="compare button" data-product_id="27" rel="nofollow">مقایسه</a>
                                    <div class="product_meta">
                                        <div class="wcml-dropdown product wcml_currency_switcher">
                                            <ul>
                                                <li class="wcml-cs-active-currency">
                                                    <a class="wcml-cs-item-toggle">USD</a>
                                                    <ul class="wcml-cs-submenu">
                                                        <li>
                                                            <a>EUR</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>

                                        <span class="posted_in">
                                            دسته بندی:
                                            <a href="#" rel="tag">@Model.ProductGroup.Title</a>
                                        </span>
                                        <span class="tagged_as">
                                            برچسب ها:
                                            @foreach (var tag in Model.Tags)
                                            {
                                                <a href="#" rel="tag">@tag.Title ,</a> 
                                                 
                                            }
                                        </span>
                                    </div>
                                    @Html.Action("SocialsSection", "Shop")

                                </div>
                            </div>
                        </div>
                        <div class="lynessa-tabs lynessa-tabs-wrapper">
                            <ul class="tabs dreaming-tabs" role="tablist">
                                <li class="description_tab active" id="tab-title-description" role="tab"
                                    aria-controls="tab-description">
                                    <a href="#tab-description">توضیحات محصول</a>
                                </li>
                                <li class="additional_information_tab" id="tab-title-additional_information" role="tab"
                                    aria-controls="tab-additional_information">
                                    <a href="#tab-additional_information"> مشخصات</a>
                                </li>
                                <li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                                    <a href="#tab-reviews">نظرات (0)</a>
                                </li>
                            </ul>
                            @Html.Action("ProductDescriptionSection", "Shop", new { productId = Model.Id })
                            
                            <div class="lynessa-Tabs-panel lynessa-Tabs-panel--additional_information panel entry-content lynessa-tab"
                                 id="tab-additional_information" role="tabpanel"
                                 aria-labelledby="tab-title-additional_information">
                                <h2>مشحصات</h2>
                                <table class="shop_attributes">
                                    <tbody>
                                        <tr>
                                            <th>رنگ ها</th>
                                            <td>
                                                <p>آبی, صورتی, قرمز, زرد</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="lynessa-Tabs-panel lynessa-Tabs-panel--reviews panel entry-content lynessa-tab"
                                 id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                                <div id="reviews" class="lynessa-Reviews">
                                    <div id="comments">
                                        <h2 class="lynessa-Reviews-title">نظرات</h2>
                                        <p class="lynessa-noreviews">نظری ثبت نشده است</p>
                                    </div>
                                    <div id="review_form_wrapper">
                                        <div id="review_form">
                                            <div id="respond" class="comment-respond">
                                                <span id="reply-title" class="comment-reply-title">نظر خود را ثبت کنید</span>
                                                <form id="commentform" class="comment-form">

                                                    <p class="comment-form-author">
                                                        <label for="author">
                                                            نام&nbsp;<span class="required">*</span>
                                                        </label>
                                                        <input id="author" name="author" value="" size="30" required=""
                                                               type="text">
                                                    </p>
                                                    <p class="comment-form-email">
                                                        <label for="email">
                                                            ایمیل&nbsp;
                                                            <span class="required">*</span>
                                                        </label>
                                                        <input id="email" name="email" value="" size="30" required=""
                                                               type="email">
                                                    </p>
                                                    <div class="comment-form-rating">
                                                        <label for="rating">امتیاز شما</label>
                                                        <p class="stars">
                                                            <span>
                                                                <a class="star-1" href="#">1</a>
                                                                <a class="star-2" href="#">2</a>
                                                                <a class="star-3" href="#">3</a>
                                                                <a class="star-4" href="#">4</a>
                                                                <a class="star-5" href="#">5</a>
                                                            </span>
                                                        </p>
                                                        <select title="product_cat" name="rating" id="rating" required=""
                                                                style="display: none;">
                                                            <option value="">Rate…</option>
                                                            <option value="5">Perfect</option>
                                                            <option value="4">Good</option>
                                                            <option value="3">Average</option>
                                                            <option value="2">Not that bad</option>
                                                            <option value="1">Very poor</option>
                                                        </select>
                                                    </div>
                                                    <p class="comment-form-comment">
                                                        <label for="comment">
                                                            نظر شما&nbsp;<span class="required">*</span>
                                                        </label><textarea id="comment" name="comment" cols="45" rows="8"
                                                                          required=""></textarea>
                                                    </p><input name="wpml_language_code"
                                                               value="en" type="hidden">
                                                    <p class="form-submit">
                                                        <input name="submit" id="submit" class="submit"
                                                               value="ثبت نظر" type="submit"> <input name="comment_post_ID" value="27" id="comment_post_ID"
                                                                                                     type="hidden">
                                                        <input name="comment_parent" id="comment_parent" value="0"
                                                               type="hidden">
                                                    </p>
                                                </form>
                                            </div><!-- #respond -->
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 dreaming_related-product">
                    <div class="block-title">
                        <h2 class="product-grid-title">
                            محصولات مرتبط
                            <span></span>
                        </h2>
                    </div>
                    <div class="owl-slick owl-products equal-container better-height"
                         data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;slidesToShow&quot;:4}"
                         data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                        <div class="product-item style-01 post-27 product type-product status-publish has-post-thumbnail product_cat-table product_cat-new-arrivals product_cat-lamp product_tag-table product_tag-sock  instock shipping-taxable purchasable product-type-variable has-default-attributes ">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link"
                                       href="#" tabindex="0">
                                        <img class="img-responsive"
                                             src="~/Content/client/images/12.jpg"
                                             alt="STRIPE SKIRTS" width="600" height="778">
                                    </a>
                                    <div class="flash"><span class="onnew"><span class="text">جدید</span></span></div>
                                    <div class="group-button">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                            </div>
                                        </div>

                                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_variable add_to_cart_button">سبد خرید</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="#"
                                           tabindex="0">رویال</a>
                                    </h3>
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating">
                                            <span style="width:0%">
                                                Rated <strong class="rating">0</strong> out of 5
                                            </span>
                                        </div>
                                        <span class="review">(0)</span>
                                    </div>
                                    <span class="price">
                                        <span class="lynessa-Price-amount amount">
                                            <span class="lynessa-Price-currencySymbol">$</span>60.00
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item style-01 post-30 product type-product status-publish has-post-thumbnail product_cat-light product_cat-bed product_cat-specials product_tag-light product_tag-table product_tag-sock last instock featured downloadable shipping-taxable purchasable product-type-simple  ">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link" href="#"
                                       tabindex="0">
                                        <img class="img-responsive"
                                             src="~/Content/client/images/13.jpg"
                                             alt="MARIE CAMI" width="600" height="778">
                                    </a>
                                    <div class="flash">
                                        <span class="onnew"><span class="text">جدید</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                            </div>
                                        </div>

                                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_variable add_to_cart_button">سبد خرید</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="#" tabindex="0">رویال</a>
                                    </h3>
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating">
                                            <span style="width:0%">
                                                Rated <strong class="rating">0</strong> out of 5
                                            </span>
                                        </div>
                                        <span class="review">(0)</span>
                                    </div>
                                    <span class="price">
                                        <span class="lynessa-Price-amount amount">
                                            <span class="lynessa-Price-currencySymbol">$</span>134.00
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item style-01 post-35 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-new-arrivals product_cat-lamp product_tag-light product_tag-hat product_tag-sock first instock shipping-taxable purchasable product-type-simple  ">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link"
                                       href="#" tabindex="0">
                                        <img class="img-responsive"
                                             src="~/Content/client/images/14.jpg"
                                             alt="HEM SMOCKING" width="600" height="778">
                                    </a>
                                    <div class="flash">
                                        <span class="onsale"><span class="number">-11%</span></span>
                                        <span class="onnew"><span class="text">جدید</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                            </div>
                                        </div>

                                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_variable add_to_cart_button">سبد خرید</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="#" tabindex="0">رویال</a>
                                    </h3>
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating">
                                            <span style="width:0%">
                                                Rated <strong class="rating">0</strong> out of 5
                                            </span>
                                        </div>
                                        <span class="review">(0)</span>
                                    </div>
                                    <span class="price">
                                        <del>
                                            <span class="lynessa-Price-amount amount">
                                                <span class="lynessa-Price-currencySymbol">$</span>89.00
                                            </span>
                                        </del> <ins>
                                            <span class="lynessa-Price-amount amount">
                                                <span class="lynessa-Price-currencySymbol">$</span>79.00
                                            </span>
                                        </ins>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item style-01 post-25 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-specials product_tag-light product_tag-sock  instock sale featured shipping-taxable purchasable product-type-simple ">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link"
                                       href="#" tabindex="-1">
                                        <img class="img-responsive"
                                             src="~/Content/client/images/12.jpg"
                                             alt="KNIT LIKE" width="600" height="778">
                                    </a>
                                    <div class="flash">
                                        <span class="onnew"><span class="text">جدید</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                            </div>
                                        </div>

                                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_variable add_to_cart_button">سبد خرید</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="#"
                                           tabindex="-1">رویال</a>
                                    </h3>
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating">
                                            <span style="width:0%">
                                                Rated <strong class="rating">0</strong> out of 5
                                            </span>
                                        </div>
                                        <span class="review">(0)</span>
                                    </div>
                                    <span class="price">
                                        <span class="lynessa-Price-amount amount">
                                            <span class="lynessa-Price-currencySymbol">$</span>109.00
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item style-01 post-93 product type-product status-publish has-post-thumbnail product_cat-light product_cat-table product_cat-new-arrivals product_tag-table product_tag-sock last instock shipping-taxable purchasable product-type-simple ">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link" href="#"
                                       tabindex="-1">
                                        <img class="img-responsive"
                                             src="~/Content/client/images/13.jpg"
                                             alt="BASIC SINGLET" width="600" height="778">
                                    </a>
                                    <div class="flash">
                                        <span class="onnew"><span class="text">جدید</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                            </div>
                                        </div>

                                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_variable add_to_cart_button">سبد خرید</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="#" tabindex="-1">رویال</a>
                                    </h3>
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating">
                                            <span style="width:0%">
                                                Rated <strong class="rating">0</strong> out of 5
                                            </span>
                                        </div>
                                        <span class="review">(0)</span>
                                    </div>
                                    <span class="price">
                                        <span class="lynessa-Price-amount amount">
                                            <span class="lynessa-Price-currencySymbol">$</span>98.00
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item style-01 post-22 product type-product status-publish has-post-thumbnail product_cat-table product_cat-bed product_cat-lamp product_tag-table product_tag-hat product_tag-sock first instock featured downloadable shipping-taxable purchasable product-type-simple ">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link" href="#"
                                       tabindex="-1">
                                        <img class="img-responsive"
                                             src="~/Content/client/images/14.jpg"
                                             alt="INSERT SINGLET" width="600" height="778">
                                    </a>
                                    <div class="flash">
                                        <span class="onnew"><span class="text">جدید</span></span>
                                    </div>
                                    <form class="variations_form cart">
                                        <table class="variations">
                                            <tbody>
                                                <tr>
                                                    <td class="value">
                                                        <select title="box_style" data-attributetype="box_style"
                                                                data-id="pa_color"
                                                                class="attribute-select " name="attribute_pa_color"
                                                                data-attribute_name="attribute_pa_color"
                                                                data-show_option_none="yes" tabindex="-1">
                                                            <option data-type="" data-pa_color="" value="">
                                                                Choose an
                                                                option
                                                            </option>
                                                            <option data-width="30" data-height="30" data-type="color"
                                                                    data-pa_color="#ffe59e" value="pink"
                                                                    class="attached enabled">
                                                                Pink
                                                            </option>
                                                            <option data-width="30" data-height="30" data-type="color"
                                                                    data-pa_color="#a825ea" value="purple"
                                                                    class="attached enabled">
                                                                Purple
                                                            </option>
                                                            <option data-width="30" data-height="30" data-type="color"
                                                                    data-pa_color="#b6b8ba" value="red"
                                                                    class="attached enabled">
                                                                Red
                                                            </option>
                                                        </select>

                                                        <a class="reset_variations" href="#" tabindex="-1"
                                                           style="visibility: hidden;">Clear</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                    <div class="group-button">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                            </div>
                                        </div>

                                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_variable add_to_cart_button">
                                                Select
                                                options
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="#" tabindex="-1">INSERT SINGLET</a>
                                    </h3>
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating">
                                            <span style="width:0%">
                                                Rated <strong class="rating">0</strong> out of 5
                                            </span>
                                        </div>
                                        <span class="review">(0)</span>
                                    </div>
                                    <span class="price">
                                        <span class="lynessa-Price-amount amount">
                                            <span class="lynessa-Price-currencySymbol">$</span>105.00
                                        </span> – <span class="lynessa-Price-amount amount">
                                            <span class="lynessa-Price-currencySymbol">$</span>110.00
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 lynessa_dreaming_upsell-product">
                    <div class="block-title">
                        <h2 class="product-grid-title">
                            پر فروش ترین ها
                            <span></span>
                        </h2>
                    </div>
                    <div class="owl-slick owl-products equal-container better-height"
                         data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;slidesToShow&quot;:4}"
                         data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                        <div class="product-item style-01 post-27 product type-product status-publish has-post-thumbnail product_cat-table product_cat-new-arrivals product_cat-lamp product_tag-table product_tag-sock  instock shipping-taxable purchasable product-type-variable has-default-attributes ">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link"
                                       href="#" tabindex="0">
                                        <img class="img-responsive"
                                             src="~/Content/client/images/12.jpg"
                                             alt="ELOISE SHIRRED" width="600" height="778">
                                    </a>
                                    <div class="flash">
                                        <span class="onnew"><span class="text">جدید</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                            </div>
                                        </div>

                                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_external add_to_cart_button">
                                                Buy
                                                it on Amazon
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="#" tabindex="0">رویال</a>
                                    </h3>
                                    <div class="rating-wapper ">
                                        <div class="star-rating">
                                            <span style="width:100%">
                                                Rated <strong class="rating">5.00</strong> out of 5
                                            </span>
                                        </div>
                                        <span class="review">(1)</span>
                                    </div>
                                    <span class="price">
                                        <span class="lynessa-Price-amount amount">
                                            <span class="lynessa-Price-currencySymbol">$</span>207.00
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item style-01 post-26 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-sofas product_tag-light product_tag-hat last instock featured shipping-taxable product-type-external  ">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link" href="#"
                                       tabindex="0">
                                        <img class="img-responsive"
                                             src="~/Content/client/images/13.jpg"
                                             alt="KNIT CARDIGAN" width="600" height="778">
                                    </a>
                                    <div class="flash">
                                        <span class="onnew"><span class="text">جدید</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                            </div>
                                        </div>

                                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_simple add_to_cart_button">سبد خرید</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="#" tabindex="0">رویال</a>
                                    </h3>
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating">
                                            <span style="width:0%">
                                                Rated <strong class="rating">0</strong> out of 5
                                            </span>
                                        </div>
                                        <span class="review">(0)</span>
                                    </div>
                                    <span class="price">
                                        <span class="lynessa-Price-amount amount">
                                            <span class="lynessa-Price-currencySymbol">$</span>120.00
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item style-01 post-37 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-bed product_tag-light product_tag-hat product_tag-sock first instock shipping-taxable purchasable product-type-simple  ">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link lynessa-product-gallery__image"
                                       href="#"
                                       tabindex="0">
                                        <img class="img-responsive wp-post-image"
                                             src="~/Content/client/images/14.jpg"
                                             alt="WIDE PANTS" width="600" height="778">
                                    </a>
                                    <div class="flash">
                                        <span class="onnew"><span class="text">جدید</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                            </div>
                                        </div>

                                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_simple add_to_cart_button">سبد خرید</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="#"
                                           tabindex="0">رویال</a>
                                    </h3>
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating">
                                            <span style="width:0%">
                                                Rated <strong class="rating">0</strong> out of 5
                                            </span>
                                        </div>
                                        <span class="review">(0)</span>
                                    </div>
                                    <span class="price">
                                        <span class="lynessa-Price-amount amount">
                                            <span class="lynessa-Price-currencySymbol">$</span>56.00
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item style-01 post-1194 product_variation type-product_variation status-publish has-post-thumbnail product  instock shipping-taxable purchasable product-type-variation ">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link"
                                       href="#" tabindex="-1">
                                        <img class="img-responsive"
                                             src="~/Content/client/images/12.jpg"
                                             alt="MARIE CAMI" width="600" height="778">
                                    </a>
                                    <div class="flash">
                                        <span class="onnew"><span class="text">جدید</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                            </div>
                                        </div>

                                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_simple add_to_cart_button">سبد خرید</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="#"
                                           tabindex="-1">رویال</a>
                                    </h3>
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating">
                                            <span style="width:0%">
                                                Rated <strong class="rating">0</strong> out of 5
                                            </span>
                                        </div>
                                        <span class="review">(0)</span>
                                    </div>
                                    <span class="price">
                                        <span class="lynessa-Price-amount amount">
                                            <span class="lynessa-Price-currencySymbol">$</span>79.00
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




<style>
    .my-error-class {
        color: #FF0000; /* red */
    }
</style>
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>
        $("#commentform").validate({
            errorClass: "my-error-class",
            rules: {
                Name: "required",
                Message: "required",
                Email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                Name: "نام خود را وارد کنید",
                Message: "پیام خود را وارد کنید",
                Email: {
                    required: "ایمیل خود را وارد کنید",
                    email: "ایمیل وارد شده معتبر نیست"
                },
            }
        });
    </script>
    <script>
        function AnswerComment(parentId, parentName) {
            $('#answerPerson').html("پاسخ دادن به   " + parentName + "<a class='btn btn-submit text-white' style='margin-right:10px;cursor:pointer' onclick='removePerson()'>حذف</a>");
            $('#ParentId').val(parentId);
        }
        function removePerson() {
            $('#answerPerson').html("نظر بدهید");
            $('#ParentId').val("");
        }
    </script>
    <script>
        $(document).ready(function(){
            $("body").addClass('single');
        });
    </script>
}