
@model List<SpadStorePanel.Web.ViewModels.Color_SizeSearchViewModel>
@{
    ViewBag.Title = "محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div id="parent-page" class="parent-page">
        <div class="container rtl">


            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">محصولات</a></li>
                    <li class="breadcrumb-item"><a href="#">دستکش</a></li>
                    @if (ViewBag.CategoryTitle != null)
                    {
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.CategoryTitle</li>
                    }
                </ol>
            </nav>
            @if (ViewBag.CategoryTitle != null)
            {
                <h1 class="page-title">@ViewBag.CategoryTitle</h1>
            }

            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4 col-xs-12">
                        <div class="products">
                            <img src="~/Files/ProductImages/@product.Image" alt="@product.Title">
                            <h2 class="product-title">
                                @product.Title
                            </h2>
                        </div>
                    </div>
                }

            </div>


        </div>


    </div>*@

@Html.Action("TopProductGroupSection", "Shop")
@*<div class="banner-wrapper has_background">
        <img src="~/Content/client/images/23.jpg "
             class="img-responsive attachment-1920x447 size-1920x447" alt="img" style="opacity: 0.3;">
        <div class="banner-wrapper-inner">
            <div class="container lynessa-categories style-02">
                <div class="categories-list-owl owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:60,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:6,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:6,&quot;slidesMargin&quot;:&quot;40&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:6,&quot;slidesMargin&quot;:&quot;50&quot;}}]">
                    <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                        <div class="categories-inner">
                            <figure class="categories-thumb">
                                <a href="#" tabindex="-1">
                                    <img src="~/Content/client/images/cat1.jpg"
                                         class="img-responsive attachment-370x370 size-370x370" alt="img">
                                </a>
                            </figure>
                            <h3 class="title">
                                <a href="#" tabindex="-1">
                                    رویال1
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                        <div class="categories-inner">
                            <figure class="categories-thumb">
                                <a href="#" tabindex="-1">
                                    <img src="~/Content/client/images/cat2.jpg"
                                         class="img-responsive attachment-370x370 size-370x370" alt="img">
                                </a>
                            </figure>
                            <h3 class="title">
                                <a href="#" tabindex="-1"> رویال </a>
                            </h3>
                        </div>
                    </div>
                    <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                        <div class="categories-inner">
                            <figure class="categories-thumb">
                                <a href="#" tabindex="0">
                                    <img src="~/Content/client/images/cat3.jpg"
                                         class="img-responsive attachment-370x370 size-370x370" alt="img">
                                </a>
                            </figure>
                            <h3 class="title">
                                <a href="#" tabindex="0">
                                    رویال 2
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                        <div class="categories-inner">
                            <figure class="categories-thumb">
                                <a href="#" tabindex="0">
                                    <img src="~/Content/client/images/cat4.jpg"
                                         class="img-responsive attachment-370x370 size-370x370" alt="img">
                                </a>
                            </figure>
                            <h3 class="title">
                                <a href="#" tabindex="0">
                                    رویال3
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                        <div class="categories-inner">
                            <figure class="categories-thumb">
                                <a href="#" tabindex="0">
                                    <img src="~/Content/client/images/cat5.jpg"
                                         class="img-responsive attachment-370x370 size-370x370" alt="img">
                                </a>
                            </figure>
                            <h3 class="title">
                                <a href="#" tabindex="0">
                                    رویال4
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                        <div class="categories-inner">
                            <figure class="categories-thumb">
                                <a href="#" tabindex="0">
                                    <img src="~/Content/client/images/cat6.jpg"
                                         class="img-responsive attachment-370x370 size-370x370" alt="img">
                                </a>
                            </figure>
                            <h3 class="title">
                                <a href="#" tabindex="0">
                                    رویال5
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                        <div class="categories-inner">
                            <figure class="categories-thumb">
                                <a href="#" tabindex="0">
                                    <img src="~/Content/client/images/cat7.jpg"
                                         class="img-responsive attachment-370x370 size-370x370" alt="img">
                                </a>
                            </figure>
                            <h3 class="title">
                                <a href="#" tabindex="0">
                                    رویال6
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<h1 class="page-title">محصولات</h1>
<div class="main-container shop-page right-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-xl-9 col-lg-8 col-md-8 col-sm-12  order-md-1 order-2 has-sidebar">
                <div class="shop-control shop-before-control">
                    <div class="grid-view-mode">
                        <form>
                            <a href="#" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-grid display-mode active" value="grid">
                                <span class="button-inner">
                                    Shop Grid
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-list display-mode " value="list">
                                <span class="button-inner">
                                    Shop List
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                        </form>
                    </div>
                    @*<form class="lynessa-ordering" method="get">
                            <select title="product_cat" name="orderby" class="orderby">
                                <option value="menu_order" selected="selected">انواع تشک</option>
                                <option value="popularity">نوع 1</option>
                                <option value="rating">نوع 2</option>
                                <option value="date">نوع3</option>
                                <option value="price">نوع4</option>
                                <option value="price-desc">نوع5</option>
                            </select>
                        </form>*@
                    <form class="per-page-form">
                        <label>
                            <select class="option-perpage">
                                <option value="12" selected="">
                                    تعداد نمایش
                                </option>
                                <option value="5">
                                    5
                                </option>
                                <option value="10">
                                    10
                                </option>
                                <option value="12">
                                    12
                                </option>
                                <option value="15">
                                    15
                                </option>
                                <option value="20">
                                    All
                                </option>
                            </select>
                        </label>
                    </form>
                </div>
                <div class=" auto-clear lynessa-products">
                    <div id="grid">

                    </div>
                </div>
                <div class="shop-control shop-after-control">
                    <nav class="lynessa-pagination">
                        <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="#">2</a>
                        <a class="next page-numbers" href="#">بعدی</a>
                    </nav>
                    <p class="lynessa-result-count">2 نتیجه از 20 مورد </p>
                </div>
            </div>
            <div class="sidebar col-xl-3 col-lg-4 col-md-4 col-sm-12 order-md-2 order-1">
                <div id="widget-area" class="widget-area shop-sidebar">
                    <div id="lynessa_product_search-2" class="widget lynessa widget_product_search">
                        <form class="lynessa-product-search">
                            <input id="lynessa-product-search-field-0" class="search-field"
                                   placeholder="جستجو محصولات" value="" name="searchString" type="search">
                            <button type="submit" value="Search">جستجو</button>
                        </form>
                    </div>
                    @*@Html.Action("PriceSearchSection", "Shop")*@

                    @*@using (Html.BeginForm("SizeSearchSection", "Shop", FormMethod.Post, new { id = "form", @class = "" }))
                        {*@

                    <div id="lynessa_layered_nav-6"
                         class="widget lynessa widget_layered_nav lynessa-widget-layered-nav">
                        <h2 class="widgettitle">
                            جستجو بر اساس سایز<span class="arrow"></span>
                        </h2>
                        <ul class="lynessa-widget-layered-nav-list">
                            @foreach (var subFeature in Model)
                            {
                                <li class="lynessa-widget-layered-nav-list__item lynessa-layered-nav-term ">
                                    <label>
                                        <input onclick="submitForm(@subFeature.Id)">
                                        <span>@subFeature.Value</span>
                                        <span class="count">(@subFeature.ProductCount)</span>
                                    </label>
                                </li>
                            }
                        </ul>
                    </div>
                    @*}*@



                    @Html.Action("ProductGroupSection", "Shop")

                    @*@Html.Action("SizeSearchSection", "Shop")
                        @Html.Action("ProductGroupSection", "Shop")*@
                </div><!-- .widget-area -->
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        var groupId = 0;
        var sizeId = 0;
        var searchString = '';
    </script>

    @if (ViewBag.Id != null)
    {
        <script>

            groupId = @ViewBag.Id;
            searchString = @ViewBag.SearchString;

        </script>
    }

    <script>

        function submitForm(sizeId) {
            // Initiate Variables With Form Content
            //var sizeId = $("#sizeId").val();
            //console.log(sizeId);
            //var email = $("#email").val();
            //var msg_subject = $("#msg_subject").val();
            //var phone_number = $("#phone_number").val();


            $.ajax({
                type: "GET",
                url: "/SizeSearchSection/" + "?sizeId=" + sizeId + "&groupId=" + groupId + "&searchString=" + searchString,
                data: "sizeId=" + sizeId,
                success: function (text) {
                    $("#grid").html(text);
                }
            });
        }

        function formSuccess() {
            console.log('ok');
        }
        function formError() {
            console.log('error')
        }

        $(document).ready(function () {
            submitForm(sizeId);
        })
    </script>
}
