@model List<SpadStorePanel.Web.ViewModels.ProductListViewModel>
@{
    ViewBag.Title = "محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div id="parent-page" class="parent-page">
        <div class="container rtl">


            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">محصولات</a></li>
                    <li class="breadcrumb-item"><a href="#">دستکش</a></li>
                    @if (ViewBag.CategoryTitle != null)
                    {
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.CategoryTitle</li>
                    }
                </ol>
            </nav>
            @if (ViewBag.CategoryTitle != null)
            {
                <h1 class="page-title">@ViewBag.CategoryTitle</h1>
            }

            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4 col-xs-12">
                        <div class="products">
                            <img src="~/Files/ProductImages/@product.Image" alt="@product.Title">
                            <h2 class="product-title">
                                @product.Title
                            </h2>
                        </div>
                    </div>
                }

            </div>


        </div>


    </div>*@

@Html.Action("TopProductGroupSection", "Shop")
@*<div class="banner-wrapper has_background">
    <img src="~/Content/client/images/23.jpg "
         class="img-responsive attachment-1920x447 size-1920x447" alt="img" style="opacity: 0.3;">
    <div class="banner-wrapper-inner">
        <div class="container lynessa-categories style-02">
            <div class="categories-list-owl owl-slick equal-container better-height"
                 data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:60,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:6,&quot;rows&quot;:1}"
                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:6,&quot;slidesMargin&quot;:&quot;40&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:6,&quot;slidesMargin&quot;:&quot;50&quot;}}]">
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="-1">
                                <img src="~/Content/client/images/cat1.jpg"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img">
                            </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="-1">
                                رویال1
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="-1">
                                <img src="~/Content/client/images/cat2.jpg"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img">
                            </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="-1"> رویال </a>
                        </h3>
                    </div>
                </div>
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="0">
                                <img src="~/Content/client/images/cat3.jpg"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img">
                            </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="0">
                                رویال 2
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="0">
                                <img src="~/Content/client/images/cat4.jpg"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img">
                            </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="0">
                                رویال3
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="0">
                                <img src="~/Content/client/images/cat5.jpg"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img">
                            </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="0">
                                رویال4
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="0">
                                <img src="~/Content/client/images/cat6.jpg"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img">
                            </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="0">
                                رویال5
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="0">
                                <img src="~/Content/client/images/cat7.jpg"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img">
                            </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="0">
                                رویال6
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<h1 class="page-title">محصولات</h1>
<div class="main-container shop-page right-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-xl-9 col-lg-8 col-md-8 col-sm-12  order-md-1 order-2 has-sidebar">
                <div class="shop-control shop-before-control">
                    <div class="grid-view-mode">
                        <form>
                            <a href="#" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-grid display-mode active" value="grid">
                                <span class="button-inner">
                                    Shop Grid
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-list display-mode " value="list">
                                <span class="button-inner">
                                    Shop List
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                        </form>
                    </div>
                    <form class="lynessa-ordering" method="get">
                        <select title="product_cat" name="orderby" class="orderby">
                            <option value="menu_order" selected="selected">انواع تشک</option>
                            <option value="popularity">نوع 1</option>
                            <option value="rating">نوع 2</option>
                            <option value="date">نوع3</option>
                            <option value="price">نوع4</option>
                            <option value="price-desc">نوع5</option>
                        </select>
                    </form>
                    <form class="per-page-form">
                        <label>
                            <select class="option-perpage">
                                <option value="12" selected="">
                                    تعداد نمایش
                                </option>
                                <option value="5">
                                    5
                                </option>
                                <option value="10">
                                    10
                                </option>
                                <option value="12">
                                    12
                                </option>
                                <option value="15">
                                    15
                                </option>
                                <option value="20">
                                    All
                                </option>
                            </select>
                        </label>
                    </form>
                </div>
                <div class=" auto-clear lynessa-products">
                    <ul class="row products columns-3">
                        @foreach (var item in Model)
                        {
                            <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-24 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-table product_cat-new-arrivals product_tag-light product_tag-hat product_tag-sock first instock featured shipping-taxable purchasable product-type-variable has-default-attributes"
                                data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
                                <div class="product-inner tooltip-left">
                                    <div class="product-thumb">
                                        <a class="thumb-link" href="single-product.html">
                                            <img class="img-responsive"
                                                 src="~/Files/ProductImages/Image/@item.Image"
                                                 alt="@item.Title" width="600" height="300px">
                                        </a>
                                        <div class="flash">
                                            <span class="onnew"><span class="text">جدید</span></span>
                                        </div>
                                        <form class="variations_form cart">
                                            <table class="variations">
                                                <tbody>
                                                    <tr>
                                                        <td class="value">
                                                            <select title="box_style" data-attributetype="box_style"
                                                                    data-id="pa_color"
                                                                    class="attribute-select " name="attribute_pa_color"
                                                                    data-attribute_name="attribute_pa_color"
                                                                    data-show_option_none="yes">
                                                                <option data-type="" data-pa_color="" value="">
                                                                    Choose an
                                                                    option
                                                                </option>
                                                                <option data-width="30" data-height="30" data-type="color"
                                                                        data-pa_color="#3155e2" value="blue"
                                                                        class="attached enabled">
                                                                    Blue
                                                                </option>
                                                                <option data-width="30" data-height="30" data-type="color"
                                                                        data-pa_color="#52b745" value="green"
                                                                        class="attached enabled">
                                                                    Green
                                                                </option>
                                                                <option data-width="30" data-height="30" data-type="color"
                                                                        data-pa_color="#ffe59e" value="pink"
                                                                        class="attached enabled">
                                                                    Pink
                                                                </option>
                                                            </select>

                                                            <a class="reset_variations" href="#" style="visibility: hidden;">Clear</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                        <a href="#" class="button yith-wcqv-button" data-product_id="24">نمایش محصول</a>
                                        <div class="group-button">
                                            @*<div class="yith-wcwl-add-to-wishlist">
                                <div class="yith-wcwl-add-button show">
                                    <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                </div>
                            </div>*@

                                            <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                                            <div class="add-to-cart">
                                                <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-info equal-elem">
                                        <h3 class="product-name product_title">
                                            <a href="#">@item.Title</a>
                                        </h3>
                                        <div class="rating-wapper nostar">
                                            <div class="star-rating">
                                                @{var persentageRate = (item.Rate * 100) / 5;}
                                                <span style="width:@persentageRate%">
                                                    Rated <strong class="rating">@item.Rate</strong> out of 5
                                                </span>
                                            </div>
                                            <span class="review">(0)</span>
                                        </div>

                                        <span class="price">
                                            @{
                                                var maxPrice = new long();
                                                var minPrice = new long();

                                                if (item.ProductMainFeatures.Count() > 0)
                                                {
                                                    maxPrice = item.ProductMainFeatures.Max(f => f.Price);
                                                    minPrice = item.ProductMainFeatures.Min(f => f.Price);

                                                    <span class="lynessa-Price-amount amount">
                                                        <span class="lynessa-Price-currencySymbol">$</span> @minPrice
                                                    </span>
                                                    <text> – </text>
                                                    <span class="lynessa-Price-amount amount">
                                                        <span class="lynessa-Price-currencySymbol">$</span> @maxPrice
                                                    </span>
                                                }
                                            }
                                        </span>
                                        <div class="lynessa-product-details__short-description">
                                            <p>توضیحات کامل محصول</p>
                                            <ul>
                                                <li>پارچه ژاکارد پنبه دوز شده</li>
                                                <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                                                <li>پارچه ژاکارد پنبه دوز شده</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="group-button">
                                        <div class="group-button-inner">
                                            <div class="yith-wcwl-add-to-wishlist">
                                                <div class="yith-wcwl-add-button show">
                                                    <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                                </div>
                                            </div>

                                            <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                                            <div class="add-to-cart">
                                                <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        }


                        @*<li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-24 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-table product_cat-new-arrivals product_tag-light product_tag-hat product_tag-sock first instock featured shipping-taxable purchasable product-type-variable has-default-attributes"
            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
            <div class="product-inner tooltip-left">
                <div class="product-thumb">
                    <a class="thumb-link" href="single-product.html">
                        <img class="img-responsive"
                             src="~/Content/client/images/14.jpg"
                             alt="MINI SKIRT" width="600" height="300px">
                    </a>
                    <div class="flash">
                        <span class="onnew"><span class="text">جدید</span></span>
                    </div>
                    <form class="variations_form cart">
                        <table class="variations">
                            <tbody>
                                <tr>
                                    <td class="value">
                                        <select title="box_style" data-attributetype="box_style"
                                                data-id="pa_color"
                                                class="attribute-select " name="attribute_pa_color"
                                                data-attribute_name="attribute_pa_color"
                                                data-show_option_none="yes">
                                            <option data-type="" data-pa_color="" value="">
                                                Choose an
                                                option
                                            </option>
                                            <option data-width="30" data-height="30" data-type="color"
                                                    data-pa_color="#3155e2" value="blue"
                                                    class="attached enabled">
                                                Blue
                                            </option>
                                            <option data-width="30" data-height="30" data-type="color"
                                                    data-pa_color="#52b745" value="green"
                                                    class="attached enabled">
                                                Green
                                            </option>
                                            <option data-width="30" data-height="30" data-type="color"
                                                    data-pa_color="#ffe59e" value="pink"
                                                    class="attached enabled">
                                                Pink
                                            </option>
                                        </select>

                                        <a class="reset_variations" href="#" style="visibility: hidden;">Clear</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <a href="#" class="button yith-wcqv-button" data-product_id="24">نمایش محصول</a>
                    <div class="group-button">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
                <div class="product-info equal-elem">
                    <h3 class="product-name product_title">
                        <a href="#"> رویال دو پددار</a>
                    </h3>
                    <div class="rating-wapper nostar">
                        <div class="star-rating">
                            <span style="width:0%">
                                Rated <strong class="rating">0</strong> out of 5
                            </span>
                        </div>
                        <span class="review">(0)</span>
                    </div>
                    <span class="price">
                        <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>45.00
                        </span> – <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>54.00
                        </span>
                    </span>
                    <div class="lynessa-product-details__short-description">
                        <p>توضیحات کامل محصول</p>
                        <ul>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                            <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                        </ul>
                    </div>
                </div>
                <div class="group-button">
                    <div class="group-button-inner">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-28 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-sofas product_tag-light product_tag-sock  instock sale featured shipping-taxable purchasable product-type-simple"
            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
            <div class="product-inner tooltip-left">
                <div class="product-thumb">
                    <a class="thumb-link" href="single-product.html">
                        <img class="img-responsive"
                             src="~/Content/client/images/12.jpg"
                             alt="SLEEVELESS TOP" width="600" height="300px">
                    </a>
                    <div class="flash">
                        <span class="onsale"><span class="number">-14%</span></span>
                        <span class="onnew"><span class="text">جدید</span></span>
                    </div>
                    <a href="#" class="button yith-wcqv-button" data-product_id="24">نمایش محصول</a>
                    <div class="group-button">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_simple add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
                <div class="product-info equal-elem">
                    <h3 class="product-name product_title">
                        <a href="#"> رویال شش</a>
                    </h3>
                    <div class="rating-wapper ">
                        <div class="star-rating">
                            <span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span>
                        </div>
                        <span class="review">(1)</span>
                    </div>
                    <span class="price">
                        <del>
                            <span class="lynessa-Price-amount amount">
                                <span class="lynessa-Price-currencySymbol">$</span>138.00
                            </span>
                        </del> <ins>
                            <span class="lynessa-Price-amount amount">
                                <span class="lynessa-Price-currencySymbol">$</span>119.00
                            </span>
                        </ins>
                    </span>
                    <div class="lynessa-product-details__short-description">
                        <p>توضیحات کامل محصول</p>
                        <ul>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                            <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                        </ul>
                    </div>
                </div>
                <div class="group-button">
                    <div class="group-button-inner">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-30 product type-product status-publish has-post-thumbnail product_cat-light product_cat-bed product_cat-specials product_tag-light product_tag-table product_tag-sock last instock featured downloadable shipping-taxable purchasable product-type-simple"
            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
            <div class="product-inner tooltip-left">
                <div class="product-thumb">
                    <a class="thumb-link" href="single-product.html">
                        <img class="img-responsive"
                             src="~/Content/client/images/13.jpg"
                             alt="STRIPE SKIRTS" width="600" height="300px">
                    </a>
                    <div class="flash">
                        <span class="onnew"><span class="text">جدید</span></span>
                    </div>
                    <a href="#" class="button yith-wcqv-button" data-product_id="24">نمایش محصول</a>
                    <div class="group-button">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_simple add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
                <div class="product-info equal-elem">
                    <h3 class="product-name product_title">
                        <a href="#">رویال </a>
                    </h3>
                    <div class="rating-wapper nostar">
                        <div class="star-rating">
                            <span style="width:0%">
                                Rated <strong class="rating">0</strong> out of 5
                            </span>
                        </div>
                        <span class="review">(0)</span>
                    </div>
                    <span class="price">
                        <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>60.00
                        </span>
                    </span>
                    <div class="lynessa-product-details__short-description">
                        <p>توضیحات کامل محصول</p>
                        <ul>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                            <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                        </ul>
                    </div>
                </div>
                <div class="group-button">
                    <div class="group-button-inner">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-23 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-lamp product_cat-sofas product_tag-hat first instock shipping-taxable purchasable product-type-variable has-default-attributes"
            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
            <div class="product-inner tooltip-left">
                <div class="product-thumb">
                    <a class="thumb-link" href="single-product.html">
                        <img class="img-responsive"
                             src="~/Content/client/images/14.jpg"
                             alt="INSERT SINGLET" width="600" height="300px">
                    </a>
                    <div class="flash">
                        <span class="onnew"><span class="text">جدید</span></span>
                    </div>
                    <form class="variations_form cart">
                        <table class="variations">
                            <tbody>
                                <tr>
                                    <td class="value">
                                        <select title="box_style" data-attributetype="box_style"
                                                data-id="pa_color"
                                                class="attribute-select " name="attribute_pa_color"
                                                data-attribute_name="attribute_pa_color"
                                                data-show_option_none="yes">
                                            <option data-type="" data-pa_color="" value="">
                                                Choose an
                                                option
                                            </option>
                                            <option data-width="30" data-height="30" data-type="color"
                                                    data-pa_color="#ffe59e" value="pink"
                                                    class="attached enabled">
                                                Pink
                                            </option>
                                            <option data-width="30" data-height="30" data-type="color"
                                                    data-pa_color="#a825ea" value="purple"
                                                    class="attached enabled">
                                                Purple
                                            </option>
                                            <option data-width="30" data-height="30" data-type="color"
                                                    data-pa_color="#b6b8ba" value="red"
                                                    class="attached enabled">
                                                Red
                                            </option>
                                        </select>

                                        <a class="reset_variations" href="#" style="visibility: hidden;">Clear</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <a href="#" class="button yith-wcqv-button" data-product_id="24">نمایش محصول</a>
                    <div class="group-button">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
                <div class="product-info equal-elem">
                    <h3 class="product-name product_title">
                        <a href="#">رویال هفت </a>
                    </h3>
                    <div class="rating-wapper nostar">
                        <div class="star-rating">
                            <span style="width:0%">
                                Rated <strong class="rating">0</strong> out of 5
                            </span>
                        </div>
                        <span class="review">(0)</span>
                    </div>
                    <span class="price">
                        <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>105.00
                        </span> – <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>110.00
                        </span>
                    </span>
                    <div class="lynessa-product-details__short-description">
                        <p>توضیحات کامل محصول</p>
                        <ul>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                            <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                        </ul>
                    </div>
                </div>
                <div class="group-button">
                    <div class="group-button-inner">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-35 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-new-arrivals product_cat-lamp product_tag-light product_tag-hat product_tag-sock  instock shipping-taxable purchasable product-type-simple"
            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
            <div class="product-inner tooltip-left">
                <div class="product-thumb">
                    <a class="thumb-link" href="single-product.html">
                        <img class="img-responsive"
                             src="~/Content/client/images/12.jpg"
                             alt="MARIE CAMI" width="600" height="300px">
                    </a>
                    <div class="flash">
                        <span class="onnew"><span class="text">جدید</span></span>
                    </div>
                    <a href="#" class="button yith-wcqv-button" data-product_id="24">نمایش محصول</a>
                    <div class="group-button">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_simple add_to_cart_button">
                                Add to
                                cart
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-info equal-elem">
                    <h3 class="product-name product_title">
                        <a href="#">رویال شش</a>
                    </h3>
                    <div class="rating-wapper nostar">
                        <div class="star-rating">
                            <span style="width:0%">
                                Rated <strong class="rating">0</strong> out of 5
                            </span>
                        </div>
                        <span class="review">(0)</span>
                    </div>
                    <span class="price">
                        <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>134.00
                        </span>
                    </span>
                    <div class="lynessa-product-details__short-description">
                        <p>توضیحات کامل محصول</p>
                        <ul>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                            <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                        </ul>
                    </div>
                </div>
                <div class="group-button">
                    <div class="group-button-inner">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-22 product type-product status-publish has-post-thumbnail product_cat-table product_cat-bed product_cat-lamp product_tag-table product_tag-hat product_tag-sock last instock featured downloadable shipping-taxable purchasable product-type-simple"
            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
            <div class="product-inner tooltip-left">
                <div class="product-thumb">
                    <a class="thumb-link" href="single-product.html">
                        <img class="img-responsive"
                             src="~/Content/client/images/12.jpg"
                             alt="BASIC SINGLET" width="600" height="300px">
                    </a>
                    <div class="flash">
                        <span class="onnew"><span class="text">جدید</span></span>
                    </div>
                    <a href="#" class="button yith-wcqv-button" data-product_id="24">نمایش محصول</a>
                    <div class="group-button">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_simple add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
                <div class="product-info equal-elem">
                    <h3 class="product-name product_title">
                        <a href="#">رویال دو پددار</a>
                    </h3>
                    <div class="rating-wapper nostar">
                        <div class="star-rating">
                            <span style="width:0%">
                                Rated <strong class="rating">0</strong> out of 5
                            </span>
                        </div>
                        <span class="review">(0)</span>
                    </div>
                    <span class="price">
                        <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>98.00
                        </span>
                    </span>
                    <div class="lynessa-product-details__short-description">
                        <p>توضیحات کامل محصول</p>
                        <ul>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                            <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                        </ul>
                    </div>
                </div>
                <div class="group-button">
                    <div class="group-button-inner">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-33 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-table product_cat-lamp product_tag-light product_tag-table product_tag-hat first instock shipping-taxable purchasable product-type-variable has-default-attributes"
            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
            <div class="product-inner tooltip-left">
                <div class="product-thumb">
                    <a class="thumb-link" href="single-product.html">
                        <img class="img-responsive"
                             src="~/Content/client/images/13.jpg"
                             alt="Glasses" width="600" height="300px">
                    </a>
                    <div class="flash">
                        <span class="onnew"><span class="text">جدید</span></span>
                    </div>
                    <form class="variations_form cart">
                        <table class="variations">
                            <tbody>
                                <tr>
                                    <td class="value">
                                        <select title="box_style" data-attributetype="box_style"
                                                data-id="pa_color"
                                                class="attribute-select " name="attribute_pa_color"
                                                data-attribute_name="attribute_pa_color"
                                                data-show_option_none="yes">
                                            <option data-type="" data-pa_color="" value="">
                                                Choose an
                                                option
                                            </option>
                                            <option data-width="30" data-height="30" data-type="color"
                                                    data-pa_color="#000000" value="black"
                                                    class="attached enabled">
                                                Black
                                            </option>
                                            <option data-width="30" data-height="30" data-type="color"
                                                    data-pa_color="#b6b8ba" value="red"
                                                    class="attached enabled">
                                                Red
                                            </option>
                                        </select>

                                        <a class="reset_variations" href="#" style="visibility: hidden;">Clear</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <a href="#" class="button yith-wcqv-button" data-product_id="24">نمایش محصول</a>
                    <div class="group-button">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
                <div class="product-info equal-elem">
                    <h3 class="product-name product_title">
                        <a href="#">تشک مدیکال </a>
                    </h3>
                    <div class="rating-wapper nostar">
                        <div class="star-rating">
                            <span style="width:0%">
                                Rated <strong class="rating">0</strong> out of 5
                            </span>
                        </div>
                        <span class="review">(0)</span>
                    </div>
                    <span class="price">
                        <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>56.00
                        </span> – <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>60.00
                        </span>
                    </span>
                    <div class="lynessa-product-details__short-description">
                        <p>توضیحات کامل محصول</p>
                        <ul>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                            <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                        </ul>
                    </div>
                </div>
                <div class="group-button">
                    <div class="group-button-inner">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-26 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-sofas product_tag-light product_tag-hat  instock featured shipping-taxable product-type-external"
            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
            <div class="product-inner tooltip-left">
                <div class="product-thumb">
                    <a class="thumb-link" href="single-product.html">
                        <img class="img-responsive"
                             src="~/Content/client/images/14.jpg"
                             alt="ELOISE SHIRRED" width="600" height="300px">
                    </a>
                    <div class="flash">
                        <span class="onnew"><span class="text">جدید</span></span>
                    </div>
                    <a href="#" class="button yith-wcqv-button" data-product_id="24">نمایش محصول</a>
                    <div class="group-button">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_external add_to_cart_button">
                                Buy it
                                on Amazon
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-info equal-elem">
                    <h3 class="product-name product_title">
                        <a href="#">رویال شش</a>
                    </h3>
                    <div class="rating-wapper ">
                        <div class="star-rating">
                            <span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span>
                        </div>
                        <span class="review">(1)</span>
                    </div>
                    <span class="price">
                        <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>207.00
                        </span>
                    </span>
                    <div class="lynessa-product-details__short-description">
                        <p>توضیحات کامل محصول</p>
                        <ul>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                            <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                        </ul>
                    </div>
                </div>
                <div class="group-button">
                    <div class="group-button-inner">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-34 product type-product status-publish has-post-thumbnail product_cat-light product_cat-new-arrivals product_tag-light product_tag-hat product_tag-sock last instock sale featured shipping-taxable product-type-grouped"
            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
            <div class="product-inner tooltip-left">
                <div class="product-thumb">
                    <a class="thumb-link" href="single-product.html">
                        <img class="img-responsive"
                             src="~/Content/client/images/12.jpg"
                             alt="INSERT TANK" width="600" height="300px">
                    </a>
                    <div class="flash">
                        <span class="onnew"><span class="text">جدید</span></span>
                    </div>
                    <a href="#" class="button yith-wcqv-button" data-product_id="24">نمایش محصول</a>
                    <div class="group-button">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_grouped add_to_cart_button">
                                View
                                products
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-info equal-elem">
                    <h3 class="product-name product_title">
                        <a href="#">رویال پنج</a>
                    </h3>
                    <div class="rating-wapper nostar">
                        <div class="star-rating">
                            <span style="width:0%">
                                Rated <strong class="rating">0</strong> out of 5
                            </span>
                        </div>
                        <span class="review">(0)</span>
                    </div>
                    <span class="price">
                        <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>79.00
                        </span> – <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>139.00
                        </span>
                    </span>
                    <div class="lynessa-product-details__short-description">
                        <p>توضیحات کامل محصول</p>
                        <ul>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                            <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                        </ul>
                    </div>
                </div>
                <div class="group-button">
                    <div class="group-button-inner">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-32 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-sofas product_tag-hat product_tag-sock first instock sale featured shipping-taxable purchasable product-type-simple"
            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
            <div class="product-inner tooltip-left">
                <div class="product-thumb">
                    <a class="thumb-link" href="single-product.html">
                        <img class="img-responsive"
                             src="~/Content/client/images/13.jpg"
                             alt="MINI SKIRT" width="600" height="300px">
                    </a>
                    <div class="flash">
                        <span class="onsale"><span class="number">-18%</span></span>
                        <span class="onnew"><span class="text">جدید</span></span>
                    </div>
                    <a href="#" class="button yith-wcqv-button" data-product_id="24">نمایش محصول</a>
                    <div class="group-button">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_simple add_to_cart_button">
                                Add to
                                cart
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-info equal-elem">
                    <h3 class="product-name product_title">
                        <a href="#">رویال چهار</a>
                    </h3>
                    <div class="rating-wapper nostar">
                        <div class="star-rating">
                            <span style="width:0%">
                                Rated <strong class="rating">0</strong> out of 5
                            </span>
                        </div>
                        <span class="review">(0)</span>
                    </div>
                    <span class="price">
                        <del>
                            <span class="lynessa-Price-amount amount">
                                <span class="lynessa-Price-currencySymbol">$</span>109.00
                            </span>
                        </del> <ins>
                            <span class="lynessa-Price-amount amount">
                                <span class="lynessa-Price-currencySymbol">$</span>89.00
                            </span>
                        </ins>
                    </span>
                    <div class="lynessa-product-details__short-description">
                        <p>توضیحات کامل محصول</p>
                        <ul>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                            <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                        </ul>
                    </div>
                </div>
                <div class="group-button">
                    <div class="group-button-inner">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-21 product type-product status-publish has-post-thumbnail product_cat-light product_cat-bed product_cat-lamp product_tag-light product_tag-sock  outofstock featured shipping-taxable purchasable product-type-simple"
            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
            <div class="product-inner tooltip-left">
                <div class="product-thumb">
                    <a class="thumb-link" href="single-product.html">
                        <img class="img-responsive"
                             src="~/Content/client/images/14.jpg"
                             alt="WIDE PANTS" width="600" height="300px">
                    </a>
                    <div class="flash">
                        <span class="sold-out"><span>Sold out</span></span>
                    </div>
                    <a href="#" class="button yith-wcqv-button" data-product_id="24">نمایش محصول</a>
                    <div class="group-button">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_simple add_to_cart_button">بیشتر</a>
                        </div>
                    </div>
                </div>
                <div class="product-info equal-elem">
                    <h3 class="product-name product_title">
                        <a href="#">رویال سه پددار </a>
                    </h3>
                    <div class="rating-wapper nostar">
                        <div class="star-rating">
                            <span style="width:0%">
                                Rated <strong class="rating">0</strong> out of 5
                            </span>
                        </div>
                        <span class="review">(0)</span>
                    </div>
                    <span class="price">
                        <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>35.00
                        </span>
                    </span>
                    <div class="lynessa-product-details__short-description">
                        <p>توضیحات کامل محصول</p>
                        <ul>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                            <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                        </ul>
                    </div>
                </div>
                <div class="group-button">
                    <div class="group-button-inner">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-93 product type-product status-publish has-post-thumbnail product_cat-light product_cat-table product_cat-new-arrivals product_tag-table product_tag-sock last instock shipping-taxable purchasable product-type-simple"
            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
            <div class="product-inner tooltip-left">
                <div class="product-thumb">
                    <a class="thumb-link" href="single-product.html">
                        <img class="img-responsive"
                             src="~/Content/client/images/12.jpg"
                             alt="KNIT LIKE" width="600" height="300px">
                    </a>
                    <div class="flash">
                        <span class="onnew"><span class="text">جدید</span></span>
                    </div>
                    <a href="#" class="button yith-wcqv-button" data-product_id="24">نمایش محصول</a>
                    <div class="group-button">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_simple add_to_cart_button">
                                اضافه کردن به سبد
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-info equal-elem">
                    <h3 class="product-name product_title">
                        <a href="#"> ویال دو ویژه</a>
                    </h3>
                    <div class="rating-wapper nostar">
                        <div class="star-rating">
                            <span style="width:0%">
                                Rated <strong class="rating">0</strong> out of 5
                            </span>
                        </div>
                        <span class="review">(0)</span>
                    </div>
                    <span class="price">
                        <span class="lynessa-Price-amount amount">
                            <span class="lynessa-Price-currencySymbol">$</span>109.00
                        </span>
                    </span>
                    <div class="lynessa-product-details__short-description">
                        <p>توضیحات کامل محصول</p>
                        <ul>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                            <li>دارای ساپورت سرتاسری در حد فاصل فنرها</li>
                            <li>پارچه ژاکارد پنبه دوز شده</li>
                        </ul>
                    </div>
                </div>
                <div class="group-button">
                    <div class="group-button-inner">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button show">
                                <a href="#" class="add_to_wishlist">  علاقه مندی ها</a>
                            </div>
                        </div>

                        <a href="#" class="button yith-wcqv-button"> نمایش محصول</a>
                        <div class="add-to-cart">
                            <a href="#" class="button product_type_variable add_to_cart_button">افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>*@
                    </ul>
                </div>
                <div class="shop-control shop-after-control">
                    <nav class="lynessa-pagination">
                        <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="#">2</a>
                        <a class="next page-numbers" href="#">بعدی</a>
                    </nav>
                    <p class="lynessa-result-count">2 نتیجه از 20 مورد </p>
                </div>
            </div>
            <div class="sidebar col-xl-3 col-lg-4 col-md-4 col-sm-12 order-md-2 order-1">
                <div id="widget-area" class="widget-area shop-sidebar">
                    <div id="lynessa_product_search-2" class="widget lynessa widget_product_search">
                        <form class="lynessa-product-search">
                            <input id="lynessa-product-search-field-0" class="search-field"
                                   placeholder="جستجو محصولات" value="" name="searchString" type="search">
                            <button type="submit" value="Search">جستجو</button>
                        </form>
                    </div>
                    <div id="lynessa_price_filter-2" class="widget lynessa widget_price_filter">
                        <h2 class="widgettitle">
                            جستجو براساس قیمت<span class="arrow"></span>
                        </h2>
                        <form method="get" action="#">
                            <div class="price_slider_wrapper">
                                <div data-label-reasult="Range:" data-min="0" data-max="1000" data-unit="$"
                                     class="price_slider" data-value-min="100" data-value-max="800">
                                </div>
                                <div class="price_slider_amount">
                                    <button type="submit" class="button">فیلتر</button>
                                    <div class="price_label">
                                        قیمت: <span class="from">$100</span> — <span class="to">$800</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    @Html.Action("ColorSearchSection", "Shop")
                    @Html.Action("SizeSearchSection", "Shop")
                    @Html.Action("ProductGroupSection", "Shop")
                </div><!-- .widget-area -->
            </div>
        </div>
    </div>
</div>
