
@model List<SpadStorePanel.Web.ViewModels.Color_SizeSearchViewModel>
@{
    ViewBag.Title = "محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("TopProductGroupSection", "Shop")


<h1 class="page-title">محصولات</h1>
<div class="main-container shop-page right-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-xl-9 col-lg-8 col-md-8 col-sm-12  order-md-1 order-2 has-sidebar">
                <div class="shop-control shop-before-control">
                    <div class="grid-view-mode">
                        <form>
                            <a href="#" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-grid display-mode active" value="grid">
                                <span class="button-inner">
                                    Shop Grid
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-list display-mode " value="list">
                                <span class="button-inner">
                                    Shop List
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                        </form>
                    </div>
                    @*<form class="per-page-form">
                            <label>
                                <select class="option-perpage">
                                    <option value="12" selected="">
                                        تعداد نمایش
                                    </option>
                                    <option value="5">
                                        5
                                    </option>
                                    <option value="10">
                                        10
                                    </option>
                                    <option value="12">
                                        12
                                    </option>
                                    <option value="15">
                                        15
                                    </option>
                                    <option value="20">
                                        All
                                    </option>
                                </select>
                            </label>
                        </form>*@
                </div>
                <div class=" auto-clear lynessa-products">
                    <div id="grid">

                    </div>
                </div>
                @*<div class="shop-control shop-after-control">
                        <nav class="lynessa-pagination">
                            <span class="page-numbers current">1</span>
                            <a class="page-numbers" href="#">2</a>
                            <a class="next page-numbers" href="#">بعدی</a>
                        </nav>
                        <p class="lynessa-result-count">2 نتیجه از 20 مورد </p>
                    </div>*@
            </div>
            <div class="sidebar col-xl-3 col-lg-4 col-md-4 col-sm-12 order-md-2 order-1">
                <div id="widget-area" class="widget-area shop-sidebar">
                    <div id="lynessa_product_search-2" class="widget lynessa widget_product_search">
                        <form class="lynessa-product-search" onsubmit="SearchString();return false">
                            <input id="lynessa-product-search-field-0" class="search-field"
                                   placeholder="جستجو محصولات" value="" name="searchString" type="search">
                            <button type="submit" value="Search">جستجو</button>
                        </form>
                    </div>
                    @Html.Action("PriceSearchSection", "Shop")

                    @*@using (Html.BeginForm("SizeSearchSection", "Shop", FormMethod.Post, new { id = "form", @class = "" }))
                        {*@

                    <div id="lynessa_layered_nav-6"
                         class="widget lynessa widget_layered_nav lynessa-widget-layered-nav">
                        <h2 class="widgettitle">
                            جستجو بر اساس سایز<span class="arrow"></span>
                        </h2>
                        <ul class="lynessa-widget-layered-nav-list">
                            @foreach (var subFeature in Model)
                            {
                                <li class="lynessa-widget-layered-nav-list__item lynessa-layered-nav-term ">
                                    <label>
                                        <input onclick="ChangeSize(@subFeature.Id)">
                                        <span>@subFeature.Value</span>
                                        <span class="count">(@subFeature.ProductCount)</span>
                                    </label>
                                </li>
                            }
                        </ul>
                    </div>
                    @*}*@

                    @Html.Action("ProductGroupSection", "Shop")

                    @*@Html.Action("SizeSearchSection", "Shop")
                        @Html.Action("ProductGroupSection", "Shop")*@
                </div><!-- .widget-area -->
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        var sizeId = 0;
        var groupId = null;
    var searchString = "";
    var searchedGroupIds = "";
        var minPrice = @ViewBag.MinPrice;
        var maxPrice = @ViewBag.MaxPrice;
    </script>

    @if (ViewBag.Id != null)
    {
        <script>
            groupId = @ViewBag.Id;
        </script>
    }
    @if (ViewBag.SearchString != null)
    {
        <script>
            searchString = "@ViewBag.SearchString";
        </script>
    }
    @if (ViewBag.SearchedGroupIds != null)
    {
        <script>
            searchedGroupIds = "@ViewBag.SearchedGroupIds";
        </script>
    }

    <script>

    function submitForm() {

        var FilterModel = {
            SizeId: sizeId,
            GroupId: groupId,
            MinPrice: minPrice,
            MaxPrice: maxPrice,
            SearchString: searchString,
            SearchedGroupIds: searchedGroupIds
        }

        $.ajax({
            type: "POST",
            data: FilterModel,
            url: "/FilterProducts/",
            success: function (text) {
                $("#grid").html(text);
                sizeId = 0;
                groupId = null;
                searchString = "";
                searchedGroupIds = "";
            }
        });
    }

    function formSuccess() {
        console.log('ok');
    }
    function formError() {
        console.log('error')
    }

    $(document).ready(function () {
        submitForm();

    })

    function ChangeSize(size) {
        var newMintxt = $('.from').text();
        var newMaxtxt = $('.to').text();

        var newMin = newMintxt.substring(1);
        var newMax = newMaxtxt.substring(1);

        if (newMin != minPrice || newMax != maxPrice) {
            minPrice = newMin;
            maxPrice = newMax;
        }

        searchString = "";
        $('.search-field').val(searchString);

        sizeId = size;
        submitForm();
    }

    function UpdateGroup(id) {
        var newMintxt = $('.from').text();
        var newMaxtxt = $('.to').text();

        var newMin = newMintxt.substring(1);
        var newMax = newMaxtxt.substring(1);

        if (newMin != minPrice || newMax != maxPrice) {
            minPrice = newMin;
            maxPrice = newMax;
        }

        searchString = "";
        $('.search-field').val(searchString);

        groupId = id;
        submitForm();
    }

    function SearchString() {
        searchString = $('.search-field').val()

        sizeId = 0;
        groupId = null;
        minPrice = @ViewBag.MinPrice;
        maxPrice = @ViewBag.MaxPrice;

        submitForm();
        }

    function CheckPriceUpdated() {
        var newMintxt = $('.from').text();
        var newMaxtxt = $('.to').text();

        var newMin = newMintxt.substring(1);
        var newMax = newMaxtxt.substring(1);

        if (newMin != minPrice || newMax != maxPrice) {
            minPrice = newMin;
            maxPrice = newMax;

            searchString = "";
            $('.search-field').val(searchString);

            submitForm();
        }
    }

    //// Update Price Range
    //priceSlider.noUiSlider.on('update', function (values, handle) {
    //    $('#filter-price-range').text(values.join(' - '));
    //    var minVal = values[0].replace("تومان", "");
    //    var maxVal = values[1].replace("تومان", "");
    //    console.log(values);
    //    $('.from').val(minVal);
    //    $('.to').val(maxVal);

    //    if (priceUpdated) {
    //        priceUpdated = false;
    //        CheckPriceUpdated();
    //    }
    //});



    </script>
}
