@model SpadStorePanel.Web.ViewModels.SearchViewModel


    @*<form method="post" action="~/Shop/Search/full" name="Search">*@
        <div id="lynessa_price_filter-2" class="widget lynessa widget_price_filter">
            <h2 class="widgettitle">
                جستجو براساس قیمت<span class="arrow"></span>
            </h2>

            @*@using (Html.BeginForm("Search", "Shop", FormMethod.Get, new { id = "form"@*, @class = "wpcf7-form" }))
            {*@
            <div class="price_slider_wrapper" dir="rtl">
                <div data-label-reasult="Range:" data-min="@Model.MinPrice" data-max="@Model.MaxPrice" data-unit=""
                     class="price_slider" data-value-min="@Model.MinPrice" data-value-max="@Model.MaxPrice">
                </div>
                <div class="price_slider_amount">
                    <button onclick="CheckPriceUpdated()" type="button" class="button" name="Search">فیلتر</button>
                    <div class="price_label">
                        قیمت: <span class="from"> @Model.MinPrice.ToString("##,###") </span> — <span class="to"> @Model.MaxPrice.ToString("##,###") </span>
                    </div>
                </div>

            </div>

        </div>

