@model SpadStorePanel.Web.ViewModels.ProductDescriptionViewModel
@*@model List<SpadStorePanel.Web.ViewModels.ProductCategoriesViewModel>*@


@*<div class="blog-left-title">
        دسته بندی
    </div>
    @if (Model.Any())
    {
        <ul class="blog-category">
            @foreach (var category in Model)
            {
                <li>
                    <a href="/Blog/@category.Id/@category.Title.Replace(" ","-")">
                        @category.Title
                    </a>
                </li>
            }
        </ul>
    }*@
@*<div id="categories-3" class="widget widget_categories">
        <h2 class="widgettitle">
            دسته بندی ها<span class="arrow"></span>
        </h2>
        <ul>
            @foreach (var item in Model)
            {
                <li class="cat-item cat-item-51">
                    <a href="#">@item.Title</a>
                </li>
            }
        </ul>
    </div>*@


    <div class="lynessa-Tabs-panel lynessa-Tabs-panel--description panel entry-content lynessa-tab"
         id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
        <h2>توضیحات محصول</h2>

        <div class="container-table">
            <div class="container-cell">
                <h2 class="az_custom_heading"> @Model.DescriptionOneTitle </h2>
                @Html.Raw(Model.DescrriptionOneShortDescription)
            </div>
            <div class="container-cell">
                <div class="az_single_image-wrapper az_box_border_grey">
                    <img src="~/Files/ProductImages/Image/@Model.DescrriptionOneImage"
                         class="az_single_image-img attachment-full" alt="@Model.DescriptionOneTitle">
                </div>
            </div>
        </div>
        <div class="container-table">
            <div class="container-cell">
                <div class="az_single_image-wrapper az_box_border_grey">
                    <img src="~/Files/ProductImages/Image/@Model.DescrriptionTwoImage"
                         class="az_single_image-img attachment-full" alt="@Model.DescriptionTwoTitle">
                </div>
            </div>
            <div class="container-cell">
                <h2 class="az_custom_heading">@Model.DescriptionTwoTitle</h2>
                @Html.Raw(Model.DescrriptionTwoShortDescription)
            </div>
        </div>

    </div>


