@model SpadStorePanel.Web.ViewModels.ProductDescriptionViewModel



<div class="lynessa-Tabs-panel lynessa-Tabs-panel--description panel entry-content lynessa-tab"
     id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
    <h2>توضیحات محصول</h2>
    @if (Model.DescriptionOneTitle != null)
    {
        <div class="container-table">
            <div class="container-cell">
                <h2 class="az_custom_heading"> @Model.DescriptionOneTitle </h2>
                @Html.Raw(Model.DescrriptionOneShortDescription)
            </div>
            <div class="container-cell">
                <div class="az_single_image-wrapper az_box_border_grey">
                    <img src="~/Files/ProductImages/Image/@Model.DescrriptionOneImage"
                         class="az_single_image-img attachment-full" alt="@Model.DescriptionOneTitle">
                </div>
            </div>
        </div>
    }
    @if (Model.DescriptionTwoTitle != null)
    {
        <div class="container-table">
            <div class="container-cell">
                <div class="az_single_image-wrapper az_box_border_grey">
                    <img src="~/Files/ProductImages/Image/@Model.DescrriptionTwoImage"
                         class="az_single_image-img attachment-full" alt="@Model.DescriptionTwoTitle">
                </div>
            </div>
            <div class="container-cell">
                <h2 class="az_custom_heading">@Model.DescriptionTwoTitle</h2>
                @Html.Raw(Model.DescrriptionTwoShortDescription)
            </div>
        </div>
    }
</div>




