@model List<SpadStorePanel.Infrastructure.Dtos.Product.ProductWithPriceDto>


    <div class="col-md-12 col-sm-12 dreaming_related-product">
        <div class="block-title">
            <h2 class="product-grid-title">
                محصولات مرتبط
                <span></span>
            </h2>
        </div>
        <div class="owl-slick owl-products equal-container better-height"
             data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;slidesToShow&quot;:4}"
             data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
            @foreach (var item in Model)
            {
                var discountTypeStr = ((int)item.DiscountType) == 1 ? "درصد" : "تومان ";

                <div class="product-item style-01 post-27 product type-product status-publish has-post-thumbnail product_cat-table product_cat-new-arrivals product_cat-lamp product_tag-table product_tag-sock  instock shipping-taxable purchasable product-type-variable has-default-attributes ">
                    <div class="product-inner tooltip-left">
                        <div class="product-thumb">
                            <a class="thumb-link"
                               href="/Shop/Details/@item.Id" tabindex="0">
                                <img class="img-responsive"
                                     src="~/Files/ProductImages/Thumb/@item.Image"
                                     alt=@item.Title width="600" height="778">
                            </a>
                            <div class="flash"><span class="onnew"><span class="text">جدید</span></span></div>
                            <div class="group-button">
                                @*<div class="yith-wcwl-add-to-wishlist">
                                    <div class="yith-wcwl-add-button show">
                                        <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                    </div>
                                </div>*@

                                <a href="/Shop/Details/@item.Id" class="button yith-wcqv-button">نمایش محصول</a>
                                @*<div class="add-to-cart">
                                    <a href="javascript:void(0)" onclick="AddToCart(@product.Id)" class="button product_type_variable add_to_cart_button">سبد خرید</a>
                                </div>*@
                            </div>
                        </div>
                        <div class="product-info equal-elem">
                            <h3 class="product-name product_title">
                                <a href="/Shop/Details/@item.Id"
                                   tabindex="0">@item.Title</a>
                            </h3>
                            <div class="rating-wapper nostar">
                                <div class="star-rating">
                                    @{
                                        var rate = (item.Rate < 6 ? item.Rate : 5);
                                        rate = (rate > 0 ? rate : 0);
                                        var ratingPercentage = (item.Rate * 100) / 5;
                                        <span style="width:@ratingPercentage%">
                                            Rated <strong class="rating">@item.Rate</strong> out of 5
                                        </span>
                                    }
                                </div>
                                @*<span class="review">(@item.Rate)</span>*@
                            </div>
                            <span class="price">
                                @{
                                    if (item.DiscountAmount > 0)
                                    {
                                        <div class="lynessa-Price-amount amount" dir="rtl">
                                            <span>  @item.DiscountAmount </span><span>  @discountTypeStr تخفیف</span>
                                        </div>
                                    }
                                    if (item.PriceAfterDiscount < item.Price)
                                    {
                            <del class="price old-price">تومان @item.Price.ToString("##,###")  </del>
                                        <span class="price">|  تومان @item.PriceAfterDiscount.ToString("##,###") </span>
                                    }
                                    else
                                    {
                            <span class="price">تومان @item.Price.ToString("##,###") </span>
                                    }

                                    @*<span class="lynessa-Price-amount amount">
                    <span class="lynessa-Price-currencySymbol">تومان </span> @minPrice
                </span>
                if (minPrice != maxPrice)
                {
                    <text> – </text>
                    <span class="lynessa-Price-amount amount">
                        <span class="lynessa-Price-currencySymbol">تومان </span> @maxPrice
                    </span>
                }*@
                                }
                            </span>
                        </div>
                    </div>
                </div>
            }

            @*<div class="product-item style-01 post-27 product type-product status-publish has-post-thumbnail product_cat-table product_cat-new-arrivals product_cat-lamp product_tag-table product_tag-sock  instock shipping-taxable purchasable product-type-variable has-default-attributes ">
                <div class="product-inner tooltip-left">
                    <div class="product-thumb">
                        <a class="thumb-link"
                           href="#" tabindex="0">
                            <img class="img-responsive"
                                 src="~/Content/client/images/12.jpg"
                                 alt="STRIPE SKIRTS" width="600" height="778">
                        </a>
                        <div class="flash"><span class="onnew"><span class="text">جدید</span></span></div>
                        <div class="group-button">
                            <div class="yith-wcwl-add-to-wishlist">
                                <div class="yith-wcwl-add-button show">
                                    <a href="#" class="add_to_wishlist">علاقه مندی ها</a>
                                </div>
                            </div>

                            <a href="#" class="button yith-wcqv-button">نمایش محصول</a>
                            <div class="add-to-cart">
                                <a href="#" class="button product_type_variable add_to_cart_button">سبد خرید</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-info equal-elem">
                        <h3 class="product-name product_title">
                            <a href="#"
                               tabindex="0">رویال</a>
                        </h3>
                        <div class="rating-wapper nostar">
                            <div class="star-rating">
                                <span style="width:0%">
                                    Rated <strong class="rating">0</strong> out of 5
                                </span>
                            </div>
                            <span class="review">(0)</span>
                        </div>
                        <span class="price">
                            <span class="lynessa-Price-amount amount">
                                <span class="lynessa-Price-currencySymbol">تومان </span>60.00
                            </span>
                        </span>
                    </div>
                </div>
            </div>*@
            
        </div>
    </div>


