@model SpadStorePanel.Core.Models.StaticContentDetail

@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-wrapper has_background">
    <img src="~/Files/StaticContentImages/Image/@ViewBag.BackImage"
         class="img-responsive attachment-1920x447 size-1920x447 col-md-12" alt="img" style="opacity: 0.3;">
    <div class="banner-wrapper-inner">
        <h1 class="page-title"> @ViewBag.Title </h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="/Home"><span>خانه</span></a></li>
                <li class="trail-item trail-end active">
                    <span> @ViewBag.Title </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="site-main  main-container no-sidebar">
    <div class="section-037">
        <div class="container">
            <div class="lynessa-popupvideo style-01">
                <div class="popupvideo-inner">
                    <div class="icon">
                        <img src="~/Files/StaticContentImages/Image/@Model.Image"
                             class="attachment-full size-full" alt="img">
                        <div class="product-video-button">
                            <a class="buttonvideo" href="@Model.Link" data-videosite="#" data-videoid="158800043" tabindex="0">
                                <div class="videobox_animation circle_1"></div>
                                <div class="videobox_animation circle_2"></div>
                                <div class="videobox_animation circle_3"></div>
                            </a>
                        </div>
                    </div>
                    <div class="popupvideo-wrap desc text-justify">
                        <h4 class="title">
                            @Model.Title
                        </h4>
                        @Html.Raw(Model.ShortDescription)
                        @Html.Raw(Model.Description)
                    </div>
                </div>
            </div>
        </div>
    </div>


    @Html.Action("OurTeamsSection", "Home")


    <div class="section-040">
        <div class="lynessa-heading style-01">
            <div class="heading-inner">
                <h3 class="title">
                    مارا دنبال کنید
                </h3>
                <div class="subtitle">
                    @@instaid
                </div>
            </div>
        </div>
        @Html.Action("InstaGalleriesSection", "Home")
    </div>
</div>

