@model SpadStorePanel.Web.ViewModels.RegisterViewModel

    <div class="u-column2 col-2">
        <h2>ثبت نام</h2>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form", @class = "lynessa-form lynessa-form-register register" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()


                <p class="lynessa-form-row lynessa-form-row--wide form-row form-row-wide">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "lynessa-Input lynessa-Input--text input-text", @name = "email", @id="reg_email", autocomplete="email", @size = "40" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "wpcf7-form-control-wrap your-name text-danger" })
                    
                    
                    @*<label for="reg_email">
                        ایمبل&nbsp;<span class="required">*</span>
                    </label>
                    <input type="email" class="lynessa-Input lynessa-Input--text input-text"
                           name="email" id="reg_email" autocomplete="email" value="">*@
                </p>

                <p class="lynessa-form-row lynessa-form-row--wide form-row form-row-wide">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "lynessa-Input lynessa-Input--text input-text", @name = "password", @id = "password", autocomplete = "current-password", @size = "40" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "wpcf7-form-control-wrap your-name text-danger" })


                    @*<label for="password">رمز عبور:&nbsp;<span class="required">*</span></label>
                    <input class="lynessa-Input lynessa-Input--text input-text"
                           type="password" name="password" id="password"
                           autocomplete="current-password">*@
                </p>
                <p class="lynessa-form-row lynessa-form-row--wide form-row form-row-wide">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "lynessa-Input lynessa-Input--text input-text", @name = "password", @id = "password", autocomplete = "current-password", @size = "40" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "wpcf7-form-control-wrap your-name text-danger" })


                    @*<label for="password">تکرار رمز عبور:&nbsp;<span class="required">*</span></label>
                    <input class="lynessa-Input lynessa-Input--text input-text"
                           type="password" name="password" id="password"
                           autocomplete="current-password">*@
                </p>

                <p class="lynessa-FormRow form-row">
                    <input type="hidden" id="lynessa-register-nonce"
                           name="lynessa-register-nonce" value="45fae70a87"><input type="hidden"
                                                                                   name="_wp_http_referer"
                                                                                   value="/lynessa/my-account/">
                    <button type="submit" class="lynessa-Button button" name="register"
                            value="Register">
                        ثبت نام
                    </button>
                </p>

        }
        @*<form method="post" class="lynessa-form lynessa-form-register register">
            <p class="lynessa-form-row lynessa-form-row--wide form-row form-row-wide">
                <label for="reg_email">
                    ایمبل&nbsp;<span class="required">*</span>
                </label>
                <input type="email" class="lynessa-Input lynessa-Input--text input-text"
                       name="email" id="reg_email" autocomplete="email" value="">
            </p>

            <p class="lynessa-form-row lynessa-form-row--wide form-row form-row-wide">
                <label for="password">رمز عبور:&nbsp;<span class="required">*</span></label>
                <input class="lynessa-Input lynessa-Input--text input-text"
                       type="password" name="password" id="password"
                       autocomplete="current-password">
            </p>
            <p class="lynessa-form-row lynessa-form-row--wide form-row form-row-wide">
                <label for="password">تکرار رمز عبور:&nbsp;<span class="required">*</span></label>
                <input class="lynessa-Input lynessa-Input--text input-text"
                       type="password" name="password" id="password"
                       autocomplete="current-password">
            </p>

            <p class="lynessa-FormRow form-row">
                <input type="hidden" id="lynessa-register-nonce"
                       name="lynessa-register-nonce" value="45fae70a87"><input type="hidden"
                                                                               name="_wp_http_referer"
                                                                               value="/lynessa/my-account/">
                <button type="submit" class="lynessa-Button button" name="register"
                        value="Register">
                    ثبت نام
                </button>
            </p>

        </form>*@
    </div>