@model SpadStorePanel.Web.ViewModels.LoginViewModel


    <div class="u-column1 col-1">
        <h2>ورود</h2>

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form", @class = "lynessa-form lynessa-form-login login" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()

            <p class="lynessa-form-row lynessa-form-row--wide form-row form-row-wide">

                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "lynessa-Input lynessa-Input--text input-text", @name = "username", @id="username", autocomplete="username", @size = "40" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "wpcf7-form-control-wrap your-name" })


                @*<label for="username">
                    نام کاربری یا ایمیل:&nbsp;<span class="required">*</span>
                </label>
                <input type="text" class="lynessa-Input lynessa-Input--text input-text"
                       name="username" id="username" autocomplete="username" value="">*@
            </p>
            <p class="lynessa-form-row lynessa-form-row--wide form-row form-row-wide">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "lynessa-Input lynessa-Input--text input-text", @name = "password", @id = "password", autocomplete = "current-password", @size = "40" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "wpcf7-form-control-wrap your-name" })


                @*<label for="password">رمز عبور:&nbsp;<span class="required">*</span></label>
                <input class="lynessa-Input lynessa-Input--text input-text"
                       type="password" name="password" id="password"
                       autocomplete="current-password">*@
            </p>
            <p class="form-row">
                <input type="hidden" id="lynessa-login-nonce" name="lynessa-login-nonce"
                       value="832993cb93"><input type="hidden" name="_wp_http_referer"
                                                 value="/lynessa/my-account/">
                <button type="submit" class="lynessa-Button button" name="login"
                        value="Log in">
                    ورود
                </button>
                <label class="lynessa-form__label lynessa-form__label-for-checkbox inline">
                    <input class="lynessa-form__input lynessa-form__input-checkbox"
                           name="rememberme" type="checkbox" id="rememberme" value="forever">
                    <span> مرا به خاطر بسپار</span>
                </label>
            </p>
            <p class="lynessa-LostPassword lost_password">
                <a href="#">فراموشی رمز عبور</a>
            </p>

        }
        @*<form class="lynessa-form lynessa-form-login login" method="post">
            <p class="lynessa-form-row lynessa-form-row--wide form-row form-row-wide">
                <label for="username">
                    نام کاربری یا ایمیل:&nbsp;<span class="required">*</span>
                </label>
                <input type="text" class="lynessa-Input lynessa-Input--text input-text"
                       name="username" id="username" autocomplete="username" value="">
            </p>
            <p class="lynessa-form-row lynessa-form-row--wide form-row form-row-wide">
                <label for="password">رمز عبور:&nbsp;<span class="required">*</span></label>
                <input class="lynessa-Input lynessa-Input--text input-text"
                       type="password" name="password" id="password"
                       autocomplete="current-password">
            </p>
            <p class="form-row">
                <input type="hidden" id="lynessa-login-nonce" name="lynessa-login-nonce"
                       value="832993cb93"><input type="hidden" name="_wp_http_referer"
                                                 value="/lynessa/my-account/">
                <button type="submit" class="lynessa-Button button" name="login"
                        value="Log in">
                    ورود
                </button>
                <label class="lynessa-form__label lynessa-form__label-for-checkbox inline">
                    <input class="lynessa-form__input lynessa-form__input-checkbox"
                           name="rememberme" type="checkbox" id="rememberme" value="forever">
                    <span> مرا به خاطر بسپار</span>
                </label>
            </p>
            <p class="lynessa-LostPassword lost_password">
                <a href="#">فراموشی رمز عبور</a>
            </p>

        </form>*@
    </div>
