@model SpadStorePanel.Web.ViewModels.IndexPartViewModels


<div id="top_page3" class="top_page fullpage full-top-3">
    <div class="mycontainer">
        <div id="tp_img3" class="tp_img3 tp_img hcenter1"></div>
        <svg version="1.1" id="tp_svg3" xmlns="http://www.w3.org/2000/svg" class="tp_svg3 tp_svg center_absolute"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="818px" height="880.73px" viewBox="0 0 818 880.73" enable-background="new 0 0 818 880.73"
             xml:space="preserve">
        <path id="tp3_line2" display='none' class="state_0" fill="#00B2A9" stroke="#00B2A9"
              stroke-miterlimit="10" d="M237.043,805.527l-12.494,13.545l-12.493-13.545
                            l0.686-0.701l11.807,12.799l11.807-12.799L237.043,805.527z" />

        <path id="tp3_dot2" fill="#00B2A9" stroke="#00B2A9" stroke-miterlimit="10" d="M225.204,818.413l-0.655,0.659l-0.649-0.73l0.649-0.717
                            L225.204,818.413z" />

        <path id="tp3_dot2_tmp" display='none' fill="#00B2A9" stroke="#00B2A9" stroke-miterlimit="10" d="M225.204,818.413l-0.655,0.659l-0.649-0.73l0.649-0.717
                            L225.204,818.413z" />

        <path id="tp3_line1" display='none' class="state_0" fill="#00B2A9" stroke="#00B2A9"
              stroke-miterlimit="10" d="M224.05,596.074h1v213h-1V596.074z" />

        <path id="tp3_dot1" fill="#00B2A9" stroke="#00B2A9" stroke-miterlimit="10"
              d="M224.05,596.074h1v1.041h-1V596.074z" />

        <path id="tp3_dot1_tmp" display='none' fill="#00B2A9" stroke="#00B2A9" stroke-miterlimit="10"
              d="M224.05,596.074h1v1.041h-1V596.074z" />

        <path id="tp3_path22" class="state_0" opacity="0.85" fill="#00B2A9" enable-background="new    " d="M692.294,281.111
                            c73.193,52.495,43.577,183.924,2.16,246.918c-42.42,64.514-123.818,141.641-228.747,113.748
                            C342.88,609.125,218.928,460.541,243.016,385.131c30.355-95.032,155.409-37.479,228.851-59.629
                            C545.304,303.353,614.526,225.336,692.294,281.111z" />

        <path id="tp3_path2" opacity="0.75" fill="#00B2A9" enable-background="new    " d="M443.93,394.374
                            c0.092-0.32-0.467-0.731-0.693-0.898c-0.271-0.089-0.795-0.154-1.035,0.168c-0.281,0.377-0.479,1.495-0.236,1.658
                            c0.307,0.207,0.561-0.834,0.826-0.939C443.055,394.259,443.832,394.714,443.93,394.374z" />

        <path id="tp3_path2_tmp" opacity="0.75" fill="#00B2A9" enable-background="new    " d="M443.93,394.374
                            c0.092-0.32-0.467-0.731-0.693-0.898c-0.271-0.089-0.795-0.154-1.035,0.168c-0.281,0.377-0.479,1.495-0.236,1.658
                            c0.307,0.207,0.561-0.834,0.826-0.939C443.055,394.259,443.832,394.714,443.93,394.374z" />

        <path id="tp3_path12" class="state_0" opacity="0.75" fill="#00B2A9" enable-background="new    " d="M287.521,291.229
                            C232.729,363.613,73.036,395.85,110.235,507.818c29.515,88.852,251.588,144.355,391.798,89.883
                            c119.777-46.537,143.866-177,139.473-268.225C637.215,240.4,573.945,94.175,467.372,95.071
                            C354.138,96.023,342.311,218.844,287.521,291.229z" />

        <path id="tp3_path1" opacity="0.75" fill="#00B2A9" enable-background="new    " d="M523.93,469.375
                            c0.092-0.32-0.467-0.731-0.693-0.898c-0.271-0.09-0.795-0.154-1.035,0.168c-0.281,0.377-0.479,1.496-0.236,1.658
                            c0.307,0.207,0.561-0.834,0.826-0.938C523.055,469.259,523.832,469.714,523.93,469.375z" />

        <path id="tp3_path1_tmp" opacity="0.75" fill="#00B2A9" enable-background="new    " d="M523.93,469.375
                            c0.092-0.32-0.467-0.731-0.693-0.898c-0.271-0.09-0.795-0.154-1.035,0.168c-0.281,0.377-0.479,1.496-0.236,1.658
                            c0.307,0.207,0.561-0.834,0.826-0.938C523.055,469.259,523.832,469.714,523.93,469.375z" />

        <a xlink:href="@Model.ButtonLink">
        <g id="svg3_rect" class="svg_rect">
        <path id="svg3_btn1" class="_svg_btn" opacity="0.3" fill="none" stroke="#FFFFFF"
              stroke-miterlimit="10" enable-background="new    " d="M224.05,520.074
                                    h154v52h-154V520.074z" />

        <path id="svg3_btn2" class="_svg_btn" opacity="0" fill="#FFFFFF" stroke="#none"
              stroke-miterlimit="10" enable-background="new    " d="M224.05,520.074
                                    h154v52h-154V520.074z" />

        <text id="svg3_rect_txt" class="svg3_rect_txt svg_rect_txt" fill="#FFFFFF"
              transform="matrix(1 0 0 1 235 550)">ویژگی‌های بیشتر</text>
        <polyline id="svg3_c1" fill="none" stroke="#FFFFFF" stroke-miterlimit="10"
                  points="378.165,532.74 378.165,520.074 353.831,520.074 " />

        <polyline id="svg3_c1_tmp" display='none' fill="none" stroke="#FFFFFF"
                  stroke-miterlimit="10"
                  points="378.165,532.74 378.165,520.074 353.831,520.074 " />

        <polyline id="top_r_side3" class="state_0" fill="none" stroke="#FFFFFF"
                  stroke-miterlimit="10" points="378.049,547.158 378.112,520.074 301.111,520.074
                                    " />

        <polyline id="svg3_c2" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="353.778,572.074 378.112,572.074 378.112,559.406
                                    " />

        <polyline id="svg3_c2_tmp" display='none' fill="none" stroke="#FFFFFF"
                  stroke-miterlimit="10" points="353.778,572.074 378.112,572.074 378.112,559.406
                                    " />

        <polyline id="bottom_r_side3" class="state_0" fill="none" stroke="#FFFFFF"
                  stroke-miterlimit="10" points="301.112,572.074 378.112,572.074  378.049,547.158
                                    " />

        <polyline id="svg3_c3" fill="none" stroke="#FFFFFF" stroke-miterlimit="10"
                  points="224.05,559.427 224.05,572.093 248.383,572.093 " />

        <polyline id="svg3_c3_tmp" display='none' fill="none" stroke="#FFFFFF"
                  stroke-miterlimit="10"
                  points="224.05,559.427 224.05,572.093 248.383,572.093 " />

        <polyline id="bottom_l_side3" class="state_0" fill="none" stroke="#FFFFFF"
                  stroke-miterlimit="10" points="224.05,545.845 224.048,572.093 301.617,572.074
                                    " />

        <polyline id="svg3_c4" fill="none" stroke="#FFFFFF" stroke-miterlimit="10"
                  points="248.383,520.074 224.05,520.074 224.05,532.74 " />

        <polyline id="svg3_c4_tmp" fill="none" stroke="#FFFFFF" stroke-miterlimit="10"
                  points="248.383,520.074 224.05,520.074 224.05,532.74 " />

        <polyline id="top_l_side3" class="state_0" fill="none" stroke="#FFFFFF"
                  stroke-miterlimit="10"
                  points=" 301.523,520.074 224.05,520.074 224.05,545.845" />

                            </g>
                        </a>
            @Html.Raw(Model.Description)
        @*<text id="tp3_title" class="tp3_title tp_title" fill="#FFFFFF" transform="matrix(1 0 0 1 390 340)">شرکت بهداشتی زینو جم</text>
        <text id="tp3_subtitle" class="tp3_subtitle tp_subtitle" fill="#FFFFFF"
              transform="matrix(1 0 0 1 360 410)">زینو جم بهترین3</text>
        <text id="tp3_subtitle2" class="tp3_subtitle tp_subtitle" fill="#FFFFFF"
              transform="matrix(1 0 0 1 170 450)">محصولات بهداشتی را تولید می کند3&zwnj; </text>*@
                    </svg>
        <div class="res_tp_img3 hcenter" id="res_tp_img3"></div>
        <svg version="1.1" id="res_tp_svg3" class="res_tp_svg res_tp_svg3" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="-243.2 247.2 571.5 321.8" style="enable-background:new -243.2 247.2 571.5 321.8;"
             xml:space="preserve">
        <style type="text/css">

            .res_tp3_st0 {
                opacity: 0.9;
                fill: #025f70;
                enable-background: new;
            }

            .res_tp3_st1 {
                opacity: 0.8;
                fill: #025f70;
                enable-background: new;
            }

            .st2 {
                opacity: 0.3;
                fill: none;
                stroke: #FFFFFF;
                stroke-miterlimit: 10;
                enable-background: new;
            }

            .st3 {
                fill: none;
                stroke: #FFFFFF;
                stroke-miterlimit: 10;
            }
</style>
        <path id="shape2" class="res_tp3_st0" d="M166.6,374.9c25.5,57.1-38.1,125.5-85,148.8c-48,23.8-123.7,41.6-176.8-11.9
                                c-62.2-62.6-84.5-195.1-43.8-231.8c51.4-46.4,106.2,31.9,157.9,44.4C70.7,336.8,139.5,314.2,166.6,374.9z" />

        <path id="shape1" class="res_tp3_st1" d="M-229,437.1c-33.5,64.5-26.2,232.5,19,294.9c33.5,46.2,96.1-7.5,135.1,14.7
                                c94.1,53.5,244.9,97.9,358.6-3.8c133-119,193.8-383.5,115.7-462.3c-98.4-99.3-218.3,52.3-324.3,71.4
                                C-30.9,371.2-167.1,317.9-229,437.1z" />

        <a xlink:href="@Model.ButtonLink">

        <g>
        <path id="rec" class="st2" d="M-85.2,462.3H31.3v39.3H-85.2L-85.2,462.3L-85.2,462.3z" />

        <polyline id="c1" class="st3" points="31.4,471.9 31.4,462.3 13,462.3    " />

        <polyline id="c2" class="st3" points="13,501.7 31.4,501.7 31.4,492.1    " />

        <polyline id="c3" class="st3" points="-85.2,492.1 -85.2,501.7 -66.8,501.7   " />

        <polyline id="c4" class="st3" points="-66.8,462.3 -85.2,462.3 -85.2,471.9   " />

        <text id="res_rect3_txt" class="res_rect3_txt res_rect_txt" fill="#FFFFFF"
              transform="matrix(1 0 0 1 -70 485)">3ویژگی‌های بیشتر</text>
                            </g>
                        </a>
            
        @*<text id="res_tp3_title" class="res_tp3_title res_tp_title" fill="#FFFFFF"
              transform="matrix(1 0 0 1 20 370)">شرکت زینو جم</text>
        <text id="res_tp3_subtitle" class="res_tp3_subtitle res_tp_subtitle" fill="#FFFFFF"
              transform="matrix(1 0 0 1 50 410)"> انواع وسایل بهداشتی</text>
        <text id="res_tp3_subtitle2" class="res_tp3_subtitle res_tp_subtitle" fill="#FFFFFF"
              transform="matrix(1 0 0 1 -45 435)">تولید انواع ماسک با کیفیت بالا</text>*@
            @Html.Raw(Model.Description)
        <path class="st3" d="M-163.3,578.5" />

        <path class="st4" d="M511.3,566.6" />

                        </svg>

    </div>

</div>
<div class="dummy" id="dummy2"></div>
<div id="content_box3" class="content_box3 my_content_box">
    <div class="content content3_1" id="content3_1">
        <svg version="1.1" id="content3_svg1" class="content3_svg1 content_svg" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="900px" height="800px" viewBox="0 0 1800.721 1560.624"
             enable-background="new 0 0 1800.721 1560.624"
             xml:space="preserve">
        <defs>
        <clipPath id="clipping3_1">
        <path id="clipping3_image1" fill-rule="evenodd" clip-rule="evenodd" fill="#CB1F47"
              d="M401.885,1491.543c-290.497-88.238-338.001-539.574-273.822-785.37
    c65.727-251.723,242.3-585.887,607.553-610.484c427.557-28.794,984.031,311.044,988.626,577.686
    c5.792,336.026-455.798,287.791-666.388,437.946C847.265,1261.475,710.54,1585.295,401.885,1491.543z" />

                                    </clipPath>
                        </defs>
        <path id="pt3_1" fill-rule="evenodd" clip-rule="evenodd" fill="#CB1F47" d="M401.885,1491.543c-290.497-88.238-338.001-539.574-273.822-785.37
    c65.727-251.723,242.3-585.887,607.553-610.484c427.557-28.794,984.031,311.044,988.626,577.686
    c5.792,336.026-455.798,287.791-666.388,437.946C847.265,1261.475,710.54,1585.295,401.885,1491.543z" transform:
              matrix(1, 0, 0, 1, -420.9, -837) />

        <g id="content3_image1" style="clip-path: url(#clipping3_1);">
        <image id="image3_1" overflow="visible" width="5300" height="6600"
               xlink:href="~/Content/client/wp-content/themes/uniqo/img/3-2.jpg"
               transform="matrix(0.3402 0 0 0.3402 50 -300)">
                                </image>
                            </g>
                        </svg>
        <div class="liquid_cir1_parent">
            <div class="liquid_circular_box1 circular_box" id="liquid_circular_box1">
                <table class="liquid_circular1_txt circle_txt hcenter">

                    <tr>

                        <td>
                            @Html.Raw(Model.part2Description)
                            @*<h2>
                                3-2شرکت زینو جم یکی از بهترین <br />
                                3-2شرکت های تولید کننده محصولات بهداشتی است
                            </h2>*@

                        </td>

                    </tr>

                </table>
            </div>
        </div>
    </div>

    <div class="liquid_clothes" id='clothes'>
        <div class="mycontainer">
            <div class="liquid_clothes_item liquid_clothes_1" id="liquid_clothes_1"></div>
            <div class="liquid_clothes_item liquid_clothes_2" id="liquid_clothes_2"></div>
            <div class="liquid_clothes_item liquid_clothes_3" id="liquid_clothes_3"></div>
            <div class="liquid_clothes_item liquid_clothes_4" id="liquid_clothes_4"></div>
            <div class="liquid_clothes_item liquid_clothes_5" id="liquid_clothes_5"></div>
            <div class="liquid_clothes_item liquid_clothes_6" id="liquid_clothes_6"></div>
        </div>
    </div>
    <div class="content content3_2" id="content3_2">

        <svg version="1.1" id="content3_svg2" class="content3_svg2 content_svg" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="2672px" height="1464px" viewBox="0 0 2672 1464" enable-background="new 0 0 2672 1464"
             xml:space="preserve">

        <defs>
        <clipPath id="clipping3_2">
        <path id="clipping3_image2" fill-rule="evenodd" clip-rule="evenodd" fill="#557636" d="M2309.81,1355.72c379.293-133.735,276.501-565.418,92.625-784.71
                        c-188.31-224.58-565.147-507.04-1093.182-466.025C691.149,152.996,29.012,569.396,123.073,820.309
                        c118.538,316.203,755.918,189.97,1111.654,293.863C1590.463,1218.065,1906.805,1497.813,2309.81,1355.72z" />

                        </clipPath>
                        </defs>
        <path id="pt3_2" fill-rule="evenodd" clip-rule="evenodd" fill="#557636" d="M2309.81,1355.72c379.293-133.735,276.501-565.418,92.625-784.71
                        c-188.31-224.58-565.147-507.04-1093.182-466.025C691.149,152.996,29.012,569.396,123.073,820.309
                        c118.538,316.203,755.918,189.97,1111.654,293.863C1590.463,1218.065,1906.805,1497.813,2309.81,1355.72z"
              transform: matrix(1, 0, 0, 1, -420.9, -837) />

        <g id="content3_image2" style="clip-path: url(#clipping3_2);">
        <image id="image3_2" overflow="visible" width="7500" height="4500"
               xlink:href="~/Content/client/wp-content/themes/uniqo/img/3-3.jpg"
               transform="matrix(0.3402 0 0 0.3402 100 0)">
                            </image>
                        </g>

                        </svg>
        <div class="liquid_cir2_parent">
            <div class="liquid_circular_box2 circular_box" id="liquid_circular_box2">
                <table class="liquid_circular2_txt circle_txt hcenter">
                    <tr>
                        <td>
                            @Html.Raw(Model.part3Description)
                            @*<h2>
                                زینو جم یکی از <br />
                                3-3بهترین شرکت ها است
                            </h2>*@
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div class="res_content2_1">
        <svg version="1.1" id="res_content3_svg1" class="res_content3_svg1 res_content_svg"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/    xlink" x="0px" y="0px"
             width="900px" height="800px" viewBox="0 0 1835.353 1588.813"
             enable-background="new 0 0 1835.353 1588.813"
             xml:space="preserve">
        <defs>
        <clipPath id="res_clipping3_1">
        <path id="res_clipping3_image1" fill-rule="evenodd" clip-rule="evenodd" fill="#00B1A8" d="M1742.332,884.248
                        c115.251-297.477-227.275-629.333-472.164-735.576C1019.375,39.867,628.568-30.694,371.548,255.475
                        C70.687,590.458-8.808,1271.023,208.759,1447.666c274.181,222.606,533.382-190.457,794.034-267.309
                        C1263.445,1103.504,1619.875,1200.318,1742.332,884.248z" />

                    </clipPath>
                </defs>
        <path id="res_pt3_1" fill-rule="evenodd" clip-rule="evenodd" fill="#00B1A8" d="M1742.332,884.248
                        c115.251-297.477-227.275-629.333-472.164-735.576C1019.375,39.867,628.568-30.694,371.548,255.475
                        C70.687,590.458-8.808,1271.023,208.759,1447.666c274.181,222.606,533.382-190.457,794.034-267.309
                        C1263.445,1103.504,1619.875,1200.318,1742.332,884.248z" transform: matrix(1, 0, 0, 1, -420.9,
              -837) />

        <g id="res_content3_image1" style="clip-path: url(#res_clipping3_1);">
        <image overflow="visible" width="7000" height="4800"
               xlink:href="~/Content/client/wp-content/themes/uniqo/img/3-2.jpg"
               transform="matrix(0.3402 0 0 0.3402 -170 5)">
                    </image>
                </g>
                    </svg>
        <div class="res_liquidcir1_parent res_cir_parents">
            <div class="res_liquid_circular_box1 res_circular_box" id="res_liquid_circular_box1">


                <table class="res_liquid_circular1_txt res_liquid_circle_txt circle_txt hcenter">

                    <tr>

                        <td>
                            @Html.Raw(Model.part3Description)
                            @*تولید انواع وسایل بهداشتی<br />
                            تولید انواع ماسک با کیفیت بالا*@


                        </td>

                    </tr>

                </table>


            </div>
        </div>

    </div>
    <div class="res_content3_2" id="res_content3_2">
        <svg version="1.1" id="res_content3_svg2" class="res_content3_svg2 res_content_svg"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="2672px" height="1464px" viewBox="0 0 2672 1464" enable-background="new 0 0 2672 1464"
             xml:space="preserve">

        <defs>
        <clipPath id="res_clipping3_2">
        <path id="res_clipping3_image2" fill-rule="evenodd" clip-rule="evenodd" fill="#557636" d="M2309.81,1355.72c379.293-133.735,276.501-565.418,92.625-784.71
    c-188.31-224.58-565.147-507.04-1093.182-466.025C691.149,152.996,29.012,569.396,123.073,820.309
    c118.538,316.203,755.918,189.97,1111.654,293.863C1590.463,1218.065,1906.805,1497.813,2309.81,1355.72z" />

                    </clipPath>
                </defs>
        <path id="res_pt3_2" fill-rule="evenodd" clip-rule="evenodd" fill="#557636" d="M2309.81,1355.72c379.293-133.735,276.501-565.418,92.625-784.71
                c-188.31-224.58-565.147-507.04-1093.182-466.025C691.149,152.996,29.012,569.396,123.073,820.309
                c118.538,316.203,755.918,189.97,1111.654,293.863C1590.463,1218.065,1906.805,1497.813,2309.81,1355.72z" />

        <g id="res_content3_image2" style="clip-path: url(#res_clipping3_2);">
        <image overflow="visible" width="6200" height="7000"
               xlink:href="~/Content/client/wp-content/themes/uniqo/img/3-3.jpg"
               transform="matrix(0.3402 0 0 0.3402 320 -440)">
                    </image>


                    </svg>
        <div class="res_liquidcir2_parent res_cir_parents">
            <div class="res_liquid_circular_box2 res_liquid_box circle_txt" id="res_liquid_circular_box2">

                <table class="res_liquid_circle2_txt res_circle_txt">

                    <tr>

                        <td>
                            @Html.Raw(Model.part3Description)
                            @*انواع وسایل بهداشتی<br />
                            انواع ماسک با کیفیت بالا*@


                        </td>

                    </tr>

                </table>


            </div>
        </div>
    </div>


</div>

<div class="res_liquid_middle_div" id="res_liquid_middle_div">
    <div class="res_liquid_middle_parent">
        <div class="res_washing_clothes hcenter" id="res_washing_clothes">
            <div class="washing_clothes_circle" id="washing_clothes_circle">
                <table class="res_liquid_circular4_txt circle_txt hcenter">
                    <tr>
                        <td>
                            حلالیت بسیار بالا <br />
                            و کف کنترل شده

                        </td>
                    </tr>
                </table>

            </div>

        </div>
        <div class="res_liquid_basket hcenter" id="res_liquid_basket">

            <div class="washing_clothes_circle washing_clothes_circle2">
                <table class="res_liquid_circular4_txt circle_txt hcenter">
                    <tr>
                        <td>
                            حفظ شادابی <br />
                            و درخشش لباس
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="footer_image footer3_image" id="footer3_image">
    <div class="mycontainer">

        <svg version="1.1" id="video_svg3" class="video_svg3 video_svg" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="1917.358px" height="1785.474px" viewBox="0 0 1917.358 1785.474"
             enable-background="new 0 0 1917.358 1785.474"
             xml:space="preserve">
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#025F6E" d="M1384.542,83.98c338.853,42.779,477.085,534.253,452.511,818.979
                        c-25.167,291.59-157.622,695.61-557.983,792.122c-468.653,112.976-1150.137-158.38-1205.777-453.184
                        C3.174,870.38,524.167,836.37,729.222,629.946C934.278,423.523,1024.508,38.528,1384.542,83.98z" />

                </svg>
        <ul dir="rtl" class="footer_txt footer3_txt">
            @Html.Raw(Model.VideoDescriptions)
            @*<li class="footer_txt1 footer3_txt1" id="footer3_txt1">
                3بهترین شرکت تولید کننده محصولات بهداشتی
            </li>
            <li class="footer_txt2 footer3_txt2" id="footer3_txt2">
                3زینو جم از بهترین شرکت ها در زمینه تولید ماسک است
            </li>
            <li class="footer_txt3 footer3_txt3" id="footer3_txt3">
                3شرکت زینو جم با داشتن چندین سال تجربه بهترین محصولات را تولید می کند
            </li>*@
        </ul>


        <div class="play_btn vcenter" id="play_btn3"></div>
    </div>

</div>

<div class="res_footer3_image" id="res_footer3_image">


    <svg version="1.1" id="res_video_svg2" class="res_video_svg2 res_video_svg" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-257 524.8 684.1 260.2"
         style="enable-background:new -257 524.8 684.1 260.2;" xml:space="preserve">
    <style type="text/css">

        .res_video2_sh1 {
            fill: #005F6E;
            enable-background: new;
        }
</style>
    <path id="res_video2_sh1" class="res_video2_sh1" d="M-357.4,572c-164.8,90.2-136.3,369.3-66.1,509.8c71.8,144,221.3,323.7,445.8,292.3
                        C285,1337.3,579.1,1061.2,548,899.3c-39.2-204-312.8-116.3-459.5-180.5C-58.2,654.7-182.3,476.1-357.4,572z"></path>
                    </svg>

    <div class="res_footer2_empty_div">
        <div class="res_video res_video_2 hcenter" id="res_video_2"
             style="height: 185.6px; transform-origin: 50% 50% 0px; transform: matrix(1, 0, 0, 1, -93, 0);">
            <div class="res_play_btn hcenter" id="res_play_btn2"></div>

        </div>
        <ul dir="rtl" class="res_footer2_txt res_footer_txt">
            @Html.Raw(Model.VideoDescriptions)
            @*<li class="res_footer2_txt1" id="footer2_txt1">
                بهترین شرکت تولید کننده محصولات بهداشتی3
            </li>
            <li class="res_footer2_txt2" id="footer2_txt2">
                3  زینو جم از بهترین شرکت ها در زمینه تولید ماسک است
            </li>
            <li class="res_footer2_txt3" id="footer2_txt3">
                شرکت زینو جم با داشتن چندین سال تجربه بهترین محصولات را تولید می کند3
            </li>*@
        </ul>
    </div>

</div>

<div id="video_popup3" class="video_popup">

    <video id="ad_video3" class="ad_video center_absolute" loop="" controls="">


        <source src="~/Files/GalleryVideos/@Model.Video" type="video/mp4">

    </video>

    <div class="close_popup" id="close_popup3"></div>

</div>