@{
    ViewBag.Title = "خانه";
}


    <div class="fullwidth-template">
        <!-- ==================================================================sliderrrr================================ -->

        @Html.Action("HomeTopSlidersSection", "Home")

        @Html.Action("HomeSecondSlidersSection", "Home")

        @Html.Action("LatestProductsSection", "Home")

        @Html.Action("HomeLastSlidersSection", "Home")

        @Html.Action("ServicesSection", "Home")
        @Html.Action("InstaGalleriesSection", "Home")
       
    </div>




