@model List<SpadStorePanel.Core.Models.OurTeam>

    <div class="section-001">
        <div class="container">
            <div class="lynessa-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">
                        تیم ما
                    </h3>

                </div>
            </div>
            <div class="lynessa-slide">
                <div class="owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:3,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                    @foreach (var item in Model)
                    {
                        <div class="lynessa-team style-01">
                            <div class="team-inner">
                                <div class="thumb-avatar">
                                    <a href="#" target="_self" tabindex="0">
                                        <img src="~/Files/OurTeamImages/@item.Image"
                                             class="attachment-full size-full" alt="@item.Title">
                                    </a>
                                    <div class="list-social">
                                        <a href="@item.FaceBookLink" tabindex="0"><i class="az_tta-icon fa fa-facebook"></i></a>
                                        <a href="@item.TwitterLink" tabindex="0"><i class="az_tta-icon fa fa-twitter"></i></a>
                                        <a href="@item.InstagramLink" tabindex="0"><i class="az_tta-icon fa fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="content-team">
                                    <h3 class="name">
                                        <a href="#" target="_self" tabindex="0">
                                            نام  فامیلی @item.Title
                                        </a>
                                    </h3>
                                    <p class="positions">مدیر @item.Role</p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>